= simple_form_for([@person, @passport]) do |f|
  .row
    #passport-picture
      .col-xs-12
        = image_tag f.object.passport_picture, class: 'passport-picture', width: 500
      .col-xs-12
        %i click on the picture to change
        .hide
          = f.input :passport_picture
  %br
  .row
    .col-xs-2
      = f.label :passport_validity
    .col-xs-10
      = f.input :passport_validity, as: :string, input_html: { class: 'datepicker' }, label: false
  %br
  .row
    .col-xs-2
      = f.label :passport_number
    .col-xs-10
      = f.input :passport_number, label: false

  .row
    .col-xs-12
      = f.input :person_id, as: :hidden, input_html: { value: @person.id }
  .ln_solid
  .row
    .col-xs-12
      = f.button :submit , class: 'btn btn-success'
