.action-url.team{'data-path': people_path(person_grid: {team: team.id})}
  - if current_user == team.user
    = link_to edit_event_team_path(team.event, team) do
      = fa_icon 'pencil', class: 'icon-border'
  -# = link_to event_team_path(team.event, team), method: :delete do
  -#   = fa_icon 'trash', method: :delete, class: 'icon-border'
