- user_people = Person.where(sport_category: @event.sport_category).where(organization_id: current_user.organization.id)
- @non_athlete_ids = user_people.non_athlete.ids
- @athlete_ids = user_people.athlete_by_rule(@event).ids
= simple_form_for([@event, @team]) do |f|
  = hidden_field :hidden, :people_data, {'data-people' => Person.where(id: @non_athlete_ids + @athlete_ids).map{ |person| {id: person.id, text: person.name}}}
  = f.input :sport_category_id, as: :hidden, input_html: { value: @event.sport_category.id}
  = f.input :game_sport_category_level_id, as: :hidden, input_html: { value: @event.game_sport_category_level.id }
  = f.input :event_id, as: :hidden, input_html: { value: @event.id}
  .row
    .col-xs-1
      = f.label :name, label: t('.name')
    .col-xs-11
      = f.input :name, label: false, input_html: { readonly: true, value: "#{current_user.organization.name} - #{@event.sport_name} - #{@event.competition_name}" }
  .row
    #person_teams
      %table.table.table-brdered
        %thead
          %tr
            %th= t('.person')
            %th= t('.avatar')
            %th= t('.gender')
            %th= t('.dob')
            %th= t('.passport')
            %th= t('.position')
            %th= t('.sport_name')
        %tbody
          = f.simple_fields_for :person_teams do |person|
            = render 'person_team_fields', f: person
      = link_to_add_association t('.add_member'), f, :person_teams,
        'data-association-insertion-method' => 'append',
        'data-association-insertion-traversal' => 'prev',
        'data-association-insertion-node' => 'table',
        class: 'btn btn-default pull-right'
  - if f.object.uniforms.present?
    .ln_solid
  .row
    #uniforms
      = f.simple_fields_for :uniforms do |uniform|
        = render 'uniform_fields', f: uniform
  .ln_solid
  .row
    .col-xs-12.text-right
      = f.submit t('.save') , class: 'btn btn-success'
