%tr.nested-fields.person-row{class: f.object.errors.any? ? 'person-team-errors' : ''}
  %td.col-xs-12.person-select-col{style: 'width: 300px;'}
    = f.input :person_id,
      collection: Person.where(id: @non_athlete_ids + @athlete_ids).map {|person| [person.name, person.id]},
      prompt: 'Select Person',
      label: false,
      input_html: { class: 'select2 person-select' }
  %td.person-picture-col{'data-default-image': image_path('default-profile.png')}
    = image_tag (f.object.person_avatar.try(:thumb) || image_path('default-profile.png')), class: "pic person-avatar img-responsive #{profile_pic_label_color(f.object.person)}"
  %td.person-sex-col
    = f.object.person_sex
  %td.person-dob-col
    = f.object.person_date_of_birth
  %td.person-passport-status-col
    = passport_label_color(f.object.person_passport.try(:state) || '')
  %td.person-position-col{style: 'width: 300px;'}
    = f.input :position, collection: PersonTeam::POSITION, prompt: 'Select Position', label: false, input_html: { class: 'select2 position-select' }
  %td.person-sport-col
    = f.object.team.sport_category.try(:name)
  %td.person-action-col
    = link_to_remove_association f, class: 'pull-right btn btn-danger' do
      = fa_icon 'times'
