.col-xs-6.col-md-3
  = f.input :uniform_label, collection: @event.sport_category.decorated_uinform_labels, label: "#{f.index+1} - #{t('.uniform_type')}"
.col-xs-6.col-md-3
  = f.input :value, label: "#{f.index+1} - #{t('.uniform_value')}"
