.row
  .x_panel
    .x_title
      %h5= t('.event')
    .x_content
      %h3.text-center
        %span= "#{@event.title} | #{@event.sport_name}"
        %span.label.label-info= @event.state
      .ln_solid
      .row
        .col-xs-6
          .row
            .col-xs-6
              %p
                %b= t('.number_of_player')
            .col-xs-6
              %span= @event.level.number_of_player
          .row
            .col-xs-6
              %p
                %b= t('.open_registered_at')
            .col-xs-6
              %span= @event.open_registered_at
          .row
            .col-xs-6
              %p
                %b= t('.start_date')
            .col-xs-6
              %span= @event.started_at
          .row
            .col-xs-6
              %p
                %b= t('.gender_required')
            .col-xs-6
              %span= @event.gender_required.titleize
          .row
            .col-xs-3
              %p
                %b= t('.location')
            .col-xs-9
              %span= @event.location
        .col-xs-6
          .row
            .col-xs-6
              %p
                %b= t('.competition_name')
            .col-xs-6
              %span= @event.level.competition_name
          .row
            .col-xs-6
              %p
                %b= t('.close_registered_at')
            .col-xs-6
              %span= @event.close_registered_at
          .row
            .col-xs-6
              %p
                %b= t('.end_date')
            .col-xs-6
              %span= @event.ended_at
          .row
            .col-xs-6
              %p
                %b= t('.age')
            .col-xs-6
              %span
                - if @event.age_from == 0 && @event.age_to == 100
                  None
                -else
                  = "#{@event.age_from} - #{@event.age_to}"
          .row
            .col-xs-6
              %p
                %b= t('.weight')
            .col-xs-6
              %span
                = (@event.weight_required.nil? || @event.weight_required.zero?) ? 'None' : @event.weight_required

      .row
        .col-xs-3
          %p
            %b= t('.description')
        .col-xs-9
          %span= @event.description
      .ln_solid
      .row
        .col-xs-12
          .text-danger
            - if @event.age_from != 0 && @event.age_to != 100
              %p
                %b *NOTE Age must be between #{@event.age_from} and #{@event.age_to}.
            - if @event.gender_required != 'both'
              %p
                %b *NOTE Athlete gender must be #{@event.gender_required.titleize}.
            - if !(@event.weight_required.nil? || @event.weight_required.zero?)
              %p
                %b *NOTE Wegiht must be #{@event.weight_required}.
.row
  .x_panel
    .x_title
      %h5
        Edit
        = t('.team')
    .x_content
      = render 'form'
