.row
  = link_to 'Edit Team', edit_team_path(@team), class: 'btn btn-default'

.row
  .x_panel
    .x_title
      %h5 Teams
    .x_content
      .row
        .col-xs-3
          name:
        .col-xs-9
          = @team.name
      %br
      .row
        .col-xs-3
          Sport Category:
        .col-xs-9
          = @team.sport_category_name

.row
  .x_panel
    .x_title
      %h5 People List
    .x_content
      = datagrid_table @people_grid, html: {class: 'table table-condensed people-table'}
