.row
  .x_panel
    .x_title
      %h5= t('.people_filter')
    .x_content
      = datagrid_form_for @people_grid, url: sport_representer_people_path()
.row
  .col-xs-12.text-right
    = link_to sport_representer_people_path(format: :xlsx, sport_representer_person_grid: params[:sport_representer_person_grid]), class: 'btn btn-default', disabled: @people_grid.assets.empty? do
      = fa_icon 'download'
      = t('.download')
    - if policy(:person).create?
      = link_to t('.add_people'), new_person_path, class: 'btn btn-primary', id: 'link-add-new-member'
  .x_panel
    .x_title
      %h5= t('.people_list')

    .x_content
      = datagrid_table @people_grid, html: {class: 'table table-condensed people-table'}

