= simple_form_for([:admin, @sport]) do |f|
  .row
    .col-xs-12
      = f.input :user_ids, collection: User.all, label_method: :fullname_kh, value_method: :id, include_blank: false, input_html: { multiple: true, class: 'select2' }, label: t('.notifyee')

  .row
    .col-xs-12.text-right
      = link_to t('actions.back'), :back, class: 'btn btn-default'
      = f.submit t('actions.save') , class: 'btn btn-success'
