.row
  .x_panel
    .x_title
      %h5= t('.notification_list')
    .x_content
      %table.table
        %thead
          %tr
            %th= t('layouts.left_col.sports')
            %th= t('.notifyee_amount')
            %th= t('actions.edit')
        %tbody
          - @notifications.each do |notification|
            %tr
              %td= notification.name
              %td= notification.notifications.count
              %td
                - if policy(:admin).new
                  = link_to new_admin_sport_category_notification_path(notification) do
                    = fa_icon 'pencil', class: 'icon-border icon-info'
