= simple_form_for([:admin, @game, @game_sport_category]) do |f|
  .row
    .col-xs-2
      = f.label :sport_category, label: t('sports')
    .col-xs-10
      = f.input :sport_category_id,
        label: false,
        include_blank: false,
        prompt: t('.select_prompt'),
        collection: SportCategory.only_parent.pluck(:name, :id),
        input_html: { class: 'select2 select-sport' }
  .row
    .col-xs-2
      = f.label :levels, label: t('.level')
    .col-xs-10
      = f.input :level_ids,
        label: false,
        include_blank: false,
        collection: f.object.persisted? ? Level.by_sport(f.object.sport_category.id).map {|level| [level.competition_name, level.id] } : [],
        input_html: { class: 'select2 select-level', multiple: true}
  .row
    .col-xs-12.text-right
      = f.submit t('.save'), class: 'btn btn-success'
