- if @person.events.any?
  .row
    .col-sm-8.col-sm-offset-2
      .x_panel
        .x_panel-content
          = fa_icon 'check-circle-o'
          %h1.valid Card is activated.
          = link_to t('.back_home'), root_path, class: 'btn btn-primary btn-back-home'
- else
  .row
    .col-sm-8.col-sm-offset-2
      .x_panel
        .x_panel-content
          = fa_icon 'times-circle-o'
          %h1.invalid Athlete is not compete in game.
          = link_to t('.back_home'), root_path, class: 'btn btn-primary btn-back-home'
