.row
  .x_panel
    .x_title
      %h5= t('.card_activation_list')

    .x_content
      = datagrid_table @card_activations, html: {class: 'table table-condensed people-table'}, unclickable: true
      = will_paginate(@card_activations.assets)
