body[id='teams-edit'], body[id='teams-update'], body[id='teams-new'], body[id='teams-create'], {
  .person-avatar {
    border-radius: 50%;
    border: 2px solid;
  }
  .avatar-danger {
    border-color: #d9534f;
  }

  .avatar-success {
    border-color: #5cb85c;
  }

}
