= form_for grid, options do |f|
  .row
    - grid.filters.each do |filter|
      .col-xs-4
        .datagrid-filter.filter.form-group
          = f.datagrid_label filter
          - if filter.type == :date
            = f.datagrid_filter filter, partials: options[:partials], class: "form-control datepicker #{filter.options[:class]}"
          - else
            = f.datagrid_filter filter, partials: options[:partials], class: "form-control #{filter.options[:class]}"
  .ln_solid
  .row
    .col-xs-12
      .datagrid-actions.text-right
        = f.submit I18n.t("datagrid.form.search").html_safe, :class => "datagrid-submit btn btn-success"
        - empty_parameter = Rails.version >= "4.1.0" && Rails.version <= '4.1.2' ? nil : {}
        = link_to I18n.t('datagrid.form.reset').html_safe, url_for(grid.to_param => empty_parameter), :class => "datagrid-reset btn btn-default"
