<span class="order">
  <%= link_to(
      I18n.t("datagrid.table.order.asc").html_safe,
      url_for(grid.param_name => grid.as_query.merge(:order => column.name, :descending => false)),
      :class => "asc") %>
  <%= link_to(
      I18n.t("datagrid.table.order.desc").html_safe,
      url_for(grid.param_name => grid.as_query.merge(:order => column.name, :descending => true )),
      :class => "desc") %>
</span>
