.row
  .col-xs-6
    .input-group
      %span.input-group-addon From
      = form.text_field(filter.name, from_options)

  .col-xs-6
    .input-group
      %span.input-group-addon To
      = form.text_field(filter.name, to_options)