%tr{class: options[:unclickable] ? '' : 'clickable-row' }
  - grid.html_columns(*options[:columns]).each do |column|
    %td{:class => "#{datagrid_column_classes(grid, column)}"}= datagrid_value(grid, column, asset)
