.action-url.event{'data-path': game_event_path(event.game, event)}
  - if current_user.admin?
    = link_to edit_admin_game_event_path(event.game, event)do
      = fa_icon 'pencil', class: 'icon-border icon-info'
  -# = link_to person_path(person), method: :delete do
  -#   = fa_icon 'trash', method: :delete, class: 'icon-border'
