= simple_form_for([:admin, @game, @event]) do |f|
  .row
    .col-xs-2
      = f.label :game_sport_level, label: t('.game_sport_level')
    .col-xs-10
      = f.input :game_sport_category_level_id,
        collection: Game.find(@game).game_sport_category_levels.map{ |level| [level.level_label_with_sport, level.id] },
        label: false
  %br
  .row
    .col-xs-2
      = f.label :title, label: t('.title')
    .col-xs-10
      = f.input :title, label: false
  %br
  .row
    .col-xs-2
      = f.label :age, label: t('.age')
    .col-xs-5
      = f.label :from, label: t('.from')
      = f.input :age_from, label: false
    .col-xs-5
      = f.label :to, label: t('.to')
      = f.input :age_to, label: false

  %br
  .row
    .col-xs-2
      = f.label :gender_required, label: t('.gender_required')
    .col-xs-10
      = f.input :gender_required, collection: Event::GENDER_REQUIRED, input_html: { value: f.object.gender_required}, label: false, prompt: 'Select Gender Required'
  %br
  .row
    .col-xs-2
      = f.label :weight_required, label: t('.weight_required')
    .col-xs-10
      = f.input :weight_required, label: false
  %br
  .row
    .col-xs-2
      = f.label :started_at, label: t('.started_at')
    .col-xs-10
      = f.input :started_at, as: :string, input_html: { class: 'datepicker' }, label: false
  %br
  .row
    .col-xs-2
      = f.label :ended_at, label: t('.ended_at')
    .col-xs-10
      = f.input :ended_at, as: :string, input_html: { class: 'datepicker' }, label: false
  %br
  .row
    .col-xs-2
      = f.label :open_registered_at, label: t('.open_registered_at')
    .col-xs-10
      = f.input :open_registered_at, as: :string, input_html: { class: 'datepicker' }, label: false
  %br
  .row
    .col-xs-2
      = f.label :close_registered_at, label: t('.close_registered_at')
    .col-xs-10
      = f.input :close_registered_at, as: :string, input_html: { class: 'datepicker' }, label: false
  %br
  .row
    .col-xs-2
      = f.label :location, label: t('.location')
    .col-xs-10
      = f.input :location, label: false
  %br
  .row
    .col-xs-2
      = f.label :description, label: t('.description')
    .col-xs-10
      = f.input :description, label: false
      -# = f.input :sport_category_id, as: :hidden, input_html: { value: @sport.id }
  .row
    .col-xs-12.text-right
      = f.submit t('.save'), class: 'btn btn-success'
