.row
  .x_panel
    .x_title
      %h5 Event
    .x_content
      %h3.text-center
        %span= @event.title
        %span.label.label-info= @event.state
        
      .row
        .col-xs-12.col-md-6
          %table.table.table-bordered
            %tr
              %td
                Sport
              %td
                %b= @event.sport_category.name
            %tr
              %td
                Start Date
              %td
                %b= @event.started_at
            %tr
              %td
                End Date
              %td
                %b= @event.ended_at

            %tr
              %td
                Location
              %td
                %b= @event.location
            - if @event.description.present?
              %tr
                %td
                  Description
                %td
                  %b= @event.description

        .col-xs-12.col-md-6
          %table.table.table-bordered
            %tr
              %td
                Open Register Date
              %td
                %b= @event.open_registered_at
            %tr
              %td
                Close Register Date
              %td
                %b= @event.close_registered_at
      .ln_solid

      .row
        .col-xs-12
          = link_to 'Back', admin_sport_category_path(params[:sport_category_id]), class: 'btn btn-default'
.row
  .x_panel
    .x_title
      %h5 Teams
    .x_content
      .row
        .col-xs-12
          = datagrid_table @team_grid, html: {class: 'table table-condensed teams-table'}
