.x_panel
  .x_title
    %h5 Sign up
  .x_content
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      .field
        = f.label :role
        %br/
        = f.select :role, User::ROLES
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      %br
      .actions
        = f.submit "Sign up", class: 'btn btn-success'
    = render "devise/shared/links"
