.row
  .col-xs-12
    .jumbotron
      %h1.text-center= @game.name
.row
  - @game.sport_categories.each do |sport|
    .col-xs-6.col-md-4
      = link_to game_events_path(@game, sport_id: sport.id), class: 'thumbnail' do
        = image_tag(sport.logo_url)
