.row
  .col-xs-6.col-md-4
    .nested-fields
      = f.association :submission_sport_lists, collection: @game.sport_categories, as: :check_boxes, input_html: { class: 'styled' }
      = f.input :participant_amount
