%section#content#game-submission{style:'box-sizing: border-box,'}
  .row.text-center
    .col-xs-3
      =wicked_pdf_image_tag('moey.png', class: 'img-responsive', style: 'width: 80px; margin-left: 60px;')
    .col-xs-6.text-center{style: 'margin-top: 20px;'}
      .row
        .col-xs-12
          %h4.text-primary#text-title-main-header
            %b= @sport_submission.game.name
      .row
        .col-xs-12
          %h4.text-danger The 2nd National Game 2018
      %br/
      %br/
      .row
        .col-xs-12
          %h5.text-primary
            %b ទម្រង់បែបបទចុះឈ្មោះប្រភេទកីឡា
    .col-xs-2.col-xs-offset-1
      = wicked_pdf_image_tag(@game.logo_url, class: 'img-responsive', style: 'width: 90px;')
.row#game-submission-table
  %table.table#top-row-table
    %thead
      %tr
        %th.text-center{colspan: 4, style: 'border: 1px solid; margin: 10px; width: 10px; height: 20px; line-height: 20px;'}
          ក្រសួង រាជធានី ខេត្ត
        %th.text-center{colspan: 8, style: 'border: 1px solid; padding: 10px; line-height: 20px;'}
          %h5.text-primary
            %b= @sport_submission.organization.name
  %br/
  %table.table#buttom-row-table
    %col{width: 20}
    %thead
      %tr
        %th.text-center{colspan: 12, style: 'border: 1px solid; padding: 5px 10px; line-height: 20px;'}
          %h5.text-primary
            %b ប្រភេទកីឡា
        %tr
          %th.text-center{colspan: 12, style: 'border: 1px solid; padding: 5px 10px; line-height: 20px;'}
            សូមគូស (&#10003;) ក្នុងប្រអប់ (បាទ ឬ ទេ)
      %tr
        %th.text-center{rowspan: 2, colspan: 2, style: 'min-height: 20px; border: 1px solid; padding: 5px 10px;'}
          ប្រភេទកីឡា
        %th.text-center{colspan: 2, style: 'min-height: 20px; border: 1px solid; padding: 5px 10px;'}
          បុរស
        %th.text-center{colspan: 2, style: 'min-height: 20px; border: 1px solid; padding: 5px 10px;'}
          នារី
        %th.text-center{rowspan: 2, colspan: 2, style: 'min-height: 20px; border: 1px solid; padding: 5px 10px;'}
          ប្រភេទកីឡា
        %th.text-center{colspan: 2, style: 'min-height: 20px; border: 1px solid; padding: 5px 10px;'}
          បុរស
        %th.text-center{colspan: 2, style: 'min-height: 20px; border: 1px solid; padding: 5px 10px;'}
          នារី
      %tr
        %th.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
          បាទ
        %th.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
          ទេ
        %th.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
          បាទ
        %th.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
          ទេ
        %th.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
          បាទ
        %th.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
          ទេ
        %th.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
          បាទ
        %th.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
          ទេ

    %tbody
      - parent_ids = SportCategory.joins(:children).ids.uniq
      - sport_categories = SportCategory.where.not(id: parent_ids).order(:parent_id)
      - user_sport_category_ids = current_user.organization.sport_submissions.find_by(game: @game).sport_categories.ids

      - first_sport_group = sport_categories.first_half.to_a
      - last_sport_group = sport_categories.second_half.to_a

      - first_sport_group, last_sport_group = reorder_sport_category(first_sport_group, last_sport_group)
      - count = 1
      - first_sport_group.each_with_index do |sport, index|
        - prev_sport = first_sport_group[index - 1]
        - if sport.parent_id.nil? || prev_sport.parent_id != sport.parent_id
          - sport.order_num = count
          - count += 1

      - last_sport_group.each_with_index do |sport, index|
        - prev_sport = last_sport_group[index - 1]
        - if sport.parent_id.nil? || prev_sport.parent_id != sport.parent_id
          - sport.order_num = count
          - count += 1

      - first_sport_group.size.times do |index|
        %tr
          - [first_sport_group[index], last_sport_group[index]].each_with_index do |sport, sport_index|
            - if sport.present?
              - next_sport = sport_index.zero? ? first_sport_group[index + 1] : last_sport_group[index + 1]
              - is_merge_row = next_sport.present? && next_sport.order_num.nil?
              - skip_id = sport.order_num.nil?

              - unless skip_id
                %td.text-center{style: 'border: 1px solid; margin: 10px; padding: 5px 10px;', rowspan: is_merge_row ? sport.parent.children.count : 1 }
                  = sport.try(:order_num)
              %td{style: 'border: 1px solid; margin: 10px; padding: 5px 10px;'}
                = sport.try(:name)
              - if user_sport_category_ids.include?(sport.id) && sport.status == 'Male'
                %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
                  &#10003;
                %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
                %td.text-center{colspan: 2, style: 'border: 1px solid; padding: 5px 10px; background-color: #0b5469'}
              - elsif user_sport_category_ids.include?(sport.id) && sport.status == 'Female'
                %td.text-center{colspan: 2, style: 'border: 1px solid; padding: 5px 10px; background-color: #0b5469'}
                %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
                  &#10003;
                %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
              - else
                %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
                  = user_sport_category_ids.include?(sport.id) ? "&#10003;".html_safe : ''
                %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
                  = user_sport_category_ids.include?(sport.id) ? '' : "&#10003;".html_safe
                %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
                  = user_sport_category_ids.include?(sport.id) ? "&#10003;".html_safe : ''
                %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}
                  = user_sport_category_ids.include?(sport.id) ? '' : "&#10003;".html_safe
            - else
              %td.text-center{style: 'border: 1px solid; margin: 10px; padding: 5px 10px;' }

              %td.text-center{style: 'border: 1px solid; margin: 10px; padding: 5px 10px;'}

              %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}

              %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}

              %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}

              %td.text-center{style: 'border: 1px solid; padding: 5px 10px;'}



  %br/
  .row.text-center
    .col-xs-6
      %br/
      %br/
      %div{style: 'margin: 20px 0;'}
        %h5.text-primary
          %strong បានឃើញ និងឯកភាព
        %h5.text-primary
          %strong រដ្ធមន្ត្រីអភិបាលខេត្ត
    .col-xs-6
      %p ធ្វើនៅថ្ងៃទី.......ខែ..............ឆ្នាំ២០១៨
      %h5.text-primary
        %strong ប្រធានមន្ទីរអ.យ.ក ឬសមាគមកីឡាក្រសួង
