.row
  .col-xs-12
    .well
      %h1.countdown.text-center
        %span#clock
.x_panel
  .x_title
    %h5= t('.new_sport_submission')
  .x_content
    = simple_form_for [@game, @sport_submission] do |f|
      = f.input :validation, as: :hidden, input_html: { value: (@sport_submission.errors[:submission_sport_lists].first) }
      .row
        .col-xs-6
          = f.association :sport_categories, collection: SportCategory.sport_submission_collection, as: :check_boxes, required: true, label: t('.sport_categories'), input_html: { class: 'styled' }

        .col-xs-6.col-md-4
          = f.input :participant_amount, label: t('.participant_amount')
      .row
        .col-xs-12.text-right
          = f.submit t('actions.save'), class: 'btn btn-primary'
