.row
  .col-xs-12
    .jumbotron
      %h1.countdown.text-center
        %small#clock
      %h1.text-center= @game.name
      - if @sport_submission.sport_categories.present?
        = link_to t('.export'), game_submission_game_sport_submission_path(format: :pdf), class: 'btn btn-primary pull-right'
.row
  - @sport_submission.representer_sports.each do |sport|
    .col-lg-3.col-md-4.col-sm-6.col-xs-12
      = link_to game_events_path(@game, sport_id: sport.id) do
        .hovereffect
          = image_tag sport.logo_url, class: 'img-responsive'
          .overlay
            %h2= sport.name
            %p ចូលមើល ចុចត្រង់នេះ
