.action-url.person{'data-path': person_path(person)}
  -# if (policy(:person).edit? && person.user == current_user) && current_user.role != 'representer'
  - if policy(:admin).edit?
    = link_to edit_person_path(person)do
      = fa_icon 'pencil', class: 'icon-border icon-info'
  = link_to person_path(person, format: :pdf) do
    = fa_icon 'file', class: 'icon-border'
  -# if policy(:person).destroy?  && person.user == current_user
  - if policy(:admin).destroy?
    = link_to person_path(person), method: :delete, data: { confirm: t('users.delete.prompt') } do
      = fa_icon 'trash', class: 'icon-border'
