= simple_form_for(@person) do |f|
  .row
    #avatar
      .col-xs-12
        = image_tag f.object.avatar, class: 'avatar-thumb', width: 120
      .col-xs-12
        %i= t('.click_on_the_picture_to_change')
        .hide
          = f.input :avatar, label: t('.avatar')
  .ln_solid
  .row
    .col-xs-12.col-md-4
      = f.input :organization_id, collection: Organization.all.pluck(:name, :id), input_html: { class: 'select2', readonly: true }, label: 'Country'
    .col-xs-12.col-md-4
      = f.input :sure_name_en, label: t('.sure_name_en')
    .col-xs-12.col-md-4
      = f.input :given_name_en, label: t('.given_name_en')

  .row
    .col-xs-12.col-md-4
      = f.input :sex, collection: ['Female', 'Male'], selected: f.object.sex || 'Female', input_html: { class: 'select2'}, label: t('.gender')
    .col-xs-12.col-md-4
      = f.input :date_of_birth, as: :string, input_html: { class: 'datepicker' }, label: t('.dob')
    .col-xs-12.col-md-4
      = f.input :identification_number, label: t('.id')

  .row
    .col-xs-12.col-md-4
      = f.input :citizenship, label: t('.citizenship')
    .col-xs-12.col-md-4
      = f.input :nationality, label: t('.nationality')
    .col-xs-12.col-md-4
      = f.input :weight, input_html: { value: (number_with_precision(f.object.weight, precision: 2) || 0.0) }, label: t('.weight')

  .row
    .col-xs-12.col-md-4
      = f.input :height, input_html: { value: (number_with_precision(f.object.height, precision: 2) || 0.0) }, label: t('.height')
    .col-xs-12.col-md-4
      = f.input :blood_type, label: t('.blood_type')
    .col-xs-12.col-md-4
      = f.input :phone, label: t('.phone')
  .row
    .col-xs-12.col-md-4
      = f.input :email, label: t('.email')
    .col-xs-12.col-md-4
      = f.input :uniform_number, label: t('.uniform_number')
    .col-xs-12{ class: 'col-md-4' }
      - person_type_collection = current_user.sport_representer? ? [['Other', 'other']] : Person::PERSON_TYPE.map { |type| [type.titleize, type] }
      = f.input :person_type, collection: person_type_collection, input_html: { class: 'select2', readonly: true }, prompt: 'Select person role', selected: @person.person_type || '', label: t('.person_type')

  .row
    .col-xs-12{ class: 'col-md-4' }
      = f.input :card_type_id, collection: CardType.all, input_html: { class: 'select2' }, prompt: '---សូមជ្រើសរើសមុខសញ្ញាផ្តល់ជូន---', selected: @person.card_type_id || '' , label: t('.given_role')
    - if current_user.admin? && current_user.organization.name =~ /ក្រសួង/
      .col-xs-12.col-md-4
        = f.input :from_organization, label: t('.from_organization')
    .col-xs-12{ class: 'col-md-4' }
      = f.input :sport_category_id, collection: SportCategory.only_parent.pluck(:name, :id), prompt: 'Select Sport', selected: @person.sport_category_id || '', input_html: { class: 'select2' }, label: t('.sport')
    .col-xs-12.col-md-4
      = f.input :address, as: :text, label: t('.address')

  .ln_solid
  .row
    .col-xs-12.text-right
      = f.submit t('.save') , class: 'btn btn-success'
