:css
  html, h1, h2, h3, h4, h4, p {
    font-family: Impact, 'Nimbus Sans L', Charcoal, sans-serif;
  }
  .position-absolute {
    position: absolute;
  }

  h1.person-info , h2.person-info , h3.person-info , h4.person-info , h4.person-info , p .person-info {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9em;
    font-weight: 600;
    letter-spacing: 0.1px;
  }

  / QR code style
  .table {
    display: table;
    width: auto;
    border-width: 0;
  }
  .tr {
    display: table-row;
    width: auto;
  }
  .td {
    display: table-cell;
    width:auto;
    border: 2px dashed #f0f;
  }
  .td.black { border-color: #000; }
  .td.white { border-color: #fff; }


- @people.each_slice(4) do |two_people|
  .row{ style: 'page-break-after:always;' }
    - two_people.each do |person|
      - qr = RQRCode::QRCode.new(person_check_availibilities_url(person), :size => 5, :level => :l)
      .col-xs-6{ style: 'padding: 0;' }
        .card{style: "position: relative; margin: 0 auto; width: 99.8%; margin-bottom: #{@people.size <= 8 ? '522px;' : '522px;'}" }
          = wicked_pdf_image_tag("card_of_swiming.png", class: 'img-responsive', style: 'position: absolute;')
          .profile-picture.position-absolute{style: "top: 170px; left: 28px;"}
            = wicked_pdf_image_tag(person.avatar.large.url || 'photo.png', class: 'img-responsive', style: 'width: 127.5px; height: 151px')
          .person-type.position-absolute.text-left{ style: "font-weight: bold; color: white; text-align: center; top: 92px; left: 0px; width: 100%;"  }
            %h1= person.card_type.name.upcase

          .person-name.position-absolute.text-left{ style: "top: 157px; left: 170px; width: 150px;"  }
            %h2.person-info
              = person.given_name_en.downcase.titleize
            %h2.person-info
              = person.sure_name_en.downcase.titleize
            %h2.person-info
              = person.organization_name
            %h2.person-info
              = person.person_type.titleize if person.person_type != 'other'

          .database-id.position-absolute{style: "top: 322px; left: 90px; font-weight: 400;"}
            %h3{style: "font-size: 1.5em;"}= "#{person.id}".rjust(5, '0')

          .country-flag.position-absolute{style: "top: 375px; left: 28px;"}
            = wicked_pdf_image_tag(person.organization.logo.url || 'photo.png', class: 'img-responsive', style: 'width: auto; height: 50px')

          .country-short-name.position-absolute{style: "top: 365px; left: 110px; text-align: justify;"}
            %h3{style: "font-size: 1.9em; text-align: center; padding: 10px 2px; border: 1px solid black;"}
              = person.organization.short_code.downcase.upcase

          .qr-code.position-absolute{style: "top: 355px; right: 20px;"}
            = raw qr.as_html
