- if @is_valid
  - qr = RQRCode::QRCode.new(person_check_availibilities_url(@person), :size => 4, :level => :m)
  .row
    .col-xs-12
      .card
        = image_tag("card-background.png", class: 'img-responsive', style: 'position: absolute;')
        .profile-picture
          = image_tag(@person.avatar.main || 'default-profile.png', class: 'img-responsive', style: 'width: 123px; height: 147px')

        .card-type
          %h1= @person.card_type.letter

        .qr-code
          = raw qr.as_html

        .person-name
          %h2= @person.name

        .organization
          %h2= @person.organization_name

        - if @person.sport_category.present?
          .sport-category-logo
            = image_tag(@person.sport_category.logo)
        - elsif @person.card_type.present? && @person.card_type.letter.in?(['A', 'B']) && !person.user.sport_representer?
          .infinity-sign
            %h2 ∞

        - if @person.card_type.try(:allow_food) || @person.organization_name.in?(['សហព័ន្ធកីឡាទ្រីយ៉ាត្លុងកម្ពុជា', 'សហព័ន្ធខ្មែរកីទ្បាទោចក្រយាន', 'កីឡាវាយកូនបាល់កម្ពុជា'])
          .spoon-fork
            = image_tag('spoon-fork.png', class: 'img-responsive')

        .position
          %h2= @person.card_type.try(:name)

    - if action_name == 'check_availibilities'
      .col-xs-12
        = link_to t('.confirm'), person_confirm_path(@person), class: 'btn btn-success btn-confirm', method: :post
    .col-xs-12
      = link_to t('.back_home'), root_path, class: 'btn btn-primary btn-back-home'
- else
  .row
    .col-sm-8.col-sm-offset-2.col-xs-12
      .x_panel
        .x_panel-content
          = fa_icon 'times-circle-o'
          %h1.invalid= @person.events.any? ? (@person.events.started.empty? ? t('.event_not_started') : t('.card_not_activate')) : t('.not_compete')

          = link_to t('.back_home'), root_path, class: 'btn btn-primary btn-back-home'
