.row
  .x_panel
    .x_title
      %h5= t('.people_filter')
    .x_content
      = datagrid_form_for @people_grid, url: people_path

.row
  .x_panel
    .x_title
      %h5= t('.people_list')
      - if current_user.admin?
        - assets = @people_grid.assets
        - if assets.present?
          = link_to team_member_card_people_path(person_id: assets.pluck(:id), format: :pdf), class: "btn btn-default #{assets.present? ? '' : 'disabled'}", id: 'link-download-pdf', target: '_blank' do
            = fa_icon 'download'
            = t('.download_card')

      - if policy(:person).new?
        = link_to t('.add_people'), new_person_path, class: 'btn btn-primary btn-margin', id: 'link-add-new-member' if !current_user.representer?
      = link_to people_path(format: :xlsx, person_grid: params[:person_grid]), class: 'btn btn-default', id: 'link-download-excel', disabled: @people_grid.assets.empty? do
        = fa_icon 'download'
        = t('.download')
    .x_content
      = datagrid_table @people_grid, html: {class: 'table table-condensed people-table'}
      .text-center
        = will_paginate @people_grid.assets, renderer: BootstrapPagination::Rails, class: 'text-center'
.user-info{ 'data-role': current_user.role }
