.row
  .col-xs-12.col-md-6
    .x_panel
      .x_title
        %h5= t('layouts.left_col.people')
      .x_content
        .row
          .col-xs-12
            %table.table.table-bordered
              %tr
                %td
                  %b= t('.avatar')
                %td#avatar-image
                  - if @person.avatar.present?
                    = link_to @person.avatar.url, { target: '_blank' } do
                      .image-container
                        = image_tag @person.avatar.main, id: 'person-img', width: 250
                  - else
                    .image-container
                      = image_tag @person.avatar, id: 'person-img', width: 250

              %tr
                %td
                  %b= t('.name')
                %td= @person.name_en

              %tr
                %td
                  %b= t('.gender')
                %td= @person.sex

              %tr
                %td
                  %b= t('.age')
                %td= @person.age

              %tr
                %td
                  %b= t('.uniform_number')
                %td= @person.uniform_number

              %tr
                %td
                  %b= t('.sport_category')
                %td= @person.sport_category_name

              %tr
                %td
                  %b= t('.organization')
                %td= @person.from_organization.present? ? @person.from_organization : @person.organization_name

              %tr
                %td
                  %b= t('.email')
                %td
                  = @person.email

              %tr
                %td
                  %b= t('.sure_name_en')
                %td= @person.sure_name_en
              %tr
                %td
                  %b= t('.given_name_en')
                %td= @person.given_name_en

              %tr
                %td
                  %b= t('.id')
                %td= @person.identification_number
              %tr
                %td
                  %b= t('.weight')
                %td= @person.weight
              %tr
                %td
                  %b= t('.height')
                %td= @person.height
              %tr
                %td
                  %b= t('.blood_type')
                %td= @person.blood_type
              %tr
                %td
                  %b= t('.citizenship')
                %td= @person.citizenship
              %tr
                %td
                  %b= t('.nationality')
                %td
                  = @person.nationality
              %tr
                %td
                  %b= t('.address')
                %td= @person.address
        .ln_solid
        .row.text-right
          - if policy(:admin).edit? || policy(:admin).destroy? || @person.user == current_user
            = link_to t('actions.edit'), edit_person_path(@person), class: 'btn btn-info'
            = link_to t('actions.delete'), person_path(@person), method: :delete, data: { confirm: t('users.delete.prompt') }, class: 'btn btn-danger'
  .col-xs-12.col-md-6
    .x_panel
      .x_title
        %h5 Passport
      .x_content
        - if @person.passport.present?
          .x_content
            %table.table.table-bordered
              %tr
                %td
                  %b
                    Passport Picture
                %td
                  = link_to @person.passport.passport_picture.url, { target: '_blank' } do
                    = image_tag @person.passport.passport_picture, width: 250
              %tr
                %td
                  %b
                    Passport Number
                %td
                  = @person.passport.passport_number

              %tr
                %td
                  %b
                    Passport Validity
                %td
                  = @person.passport.passport_validity

              %tr
                %td
                  %b
                    Status
                %td
                  = passport_label_color(@person.passport.state)

            .ln_solid
            .row
              .col-xs-12.text-right
                - if policy(:admin).edit?
                  = link_to 'Edit', edit_person_passport_path(@person, @person.passport), class: 'btn btn-info'
              -# = link_to 'Delete', person_path(@person, @person.passport), method: :delete, class: 'btn btn-danger'
        - else
          %p.text-center No Infomation has been input.
          .ln_solid
          .row
            .col-xs-12.text-right
              - if policy(:admin).new? || @person.user == current_user
                = link_to 'New', new_person_passport_path(@person), class: 'btn btn-info'
  .col-xs-12
    .x_panel
      .x_title
        %h5= t('.joint_event')
      .x_content
        - if @person.events.present?
          = datagrid_table @event_grid, html: {class: 'table table-condensed events-table'}
        - else
          %p.text-center= t('.no_infomation')
