= simple_form_for [:admin, @sport, @level] do |f|
  = f.input :sport_category_id, as: :hidden, input_html: { value: @sport.id }
  = f.input :competition_name, label: t('.competition_name')
  = f.input :number_of_player, label: t('.number_of_player')
  .row
    .col-xs-12.text-right
      = f.submit t('actions.save'), class: 'btn btn-primary'
