.action-url.passport{'data-path': person_path(passport.person)}
  -# - if passport.state == 'Pending'
  = link_to 'Verify', verify_admin_passport_path(passport), class: 'btn btn-success btn-xs'
  -# - if passport.state == 'Verify'
  = link_to 'Invalid', invalid_admin_passport_path(passport), class: 'btn btn-warning btn-xs'
