.row
  .x_panel
    .x_title
      %h5= t('.passport_filter')
    .x_content
      = datagrid_form_for @passport_grid, url: admin_passports_path()

.row
  .x_panel
    .x_title
      %h5= t('.passport_list')
    .x_content
      = datagrid_table @passport_grid, html: {class: 'table table-condensed passports-table'}
