.col-xs-12.col-md-6
  .x_panel
    .x_title
      %h5 Passport
    .x_content
      - if @passport.present?
        .x_content
          .row
            .col-xs-2
              Passport Picture
            .col-xs-10
              = link_to @passport.passport_picture.url, { target: '_blank' } do
                = image_tag @passport.passport_picture, width: 250
          .row
            .col-xs-2
              Passport Number
            .col-xs-10
              = @passport.passport_number

          .row
            .col-xs-2
              Passport Validity
            .col-xs-10
              = @passport.passport_validity

          .row
            .col-xs-2
              Status
            .col-xs-10
              = @passport.passport_state

          .ln_solid
          .row
            - if policy(:admin).edit?
              = link_to 'Edit', edit_person_passport_path(@passport.person, @passport), class: 'btn btn-info'
            -# = link_to 'Delete', person_path(@person, @person.passport), method: :delete, class: 'btn btn-danger'
