= simple_form_for(@competition) do |f|
  .row
    .col-xs-2
      = f.label :name
    .col-xs-10
      = f.input :name, label: false
  .row
    .col-xs-2
      = f.label :description
    .col-xs-10
      = f.input :description, label: false
  .row
    .col-xs-2
      = f.label :sport_category_id
    .col-xs-10
      = f.input :sport_category_id, collection: SportCategory.only_parent.pluck(:name, :id), label: false, selected: f.object.sport_category_id || '', input_html: { class: 'select2'}
  .ln_solid
  = f.button :submit , class: 'btn btn-success'
