.row
  = link_to new_competition_path(), class: 'btn btn-default btn-margin' do
    Add New Competition

.row
  .x_panel
    .x_title
      %h5 Competition Lists
    .x_content
      %table.table
        %thead
          %tr
            %th ID
            %th Name
            %th Sport
            %th Actioin
        %tbody
          - @competitions.each_with_index do |competition, index|
            %tr
              %td
                = index + 1
              %td
                = competition.name
              %td
                = competition.sport_category.name
              %td.action
                = link_to edit_competition_path(competition) do
                  = fa_icon 'pencil', class: 'icon-border'
                = link_to competition_path(competition), method: :delete do
                  = fa_icon 'trash', class: 'icon-border'
