.row
  .col-xs-12
    - if current_user.sport_category.present?
      = link_to game_pdf_sport_representer_events_path(format: :pdf), class: 'btn btn-primary pull-right' do
        = fa_icon 'file'
    - else
      %h1.text-center សូមភ្ជាប់ប្រភេទកីឡារបស់អ្នក
- if @events.blank?
  .jumbotron
    %h1.text-center
      មិនមានពត៌មាន
- else
  - @events.in_groups_of(2) do |event_of_2|
    .row
      - event_of_2.compact.each do |event|
        .col-xs-6
          .x_panel
            .x_title
              %h3.text-center= current_user.sport_category_name
              %h5= event.title
            .x_content
              .row
                .col-xs-12
                  %h2= event_state_label(event.state)
                .col-xs-12
                  %table.table.table-bordered.event-detail
                    %tr
                      %td.detail-label= t('.level_name')
                      %td.detail-value= event.level_label

                    %tr
                      %td.detail-label= t('.open_registered_at')
                      %td.detail-value= event.open_registered_at

                    %tr
                      %td.detail-label= t('.close_registered_at')
                      %td.detail-value= event.close_registered_at

                    %tr
                      %td.detail-label= t('.start_date')
                      %td.detail-value= event.started_at

                    %tr
                      %td.detail-label= t('.start_date')
                      %td.detail-value= event.ended_at

                    %tr
                      %td.detail-label= t('.location')
                      %td.detail-value= event.location

                    %tr
                      %td.detail-label= t('.description')
                      %td.detail-value
                        = event.description

              .ln_solid
              .row
                .col-xs-12
                  = link_to 'View', sport_representer_event_path(event), class: 'btn btn-success btn-block pull-right'
