.row
  .x_panel
    .x_title
      %h5= t('.event')
    .x_content
      %h3.text-center
        %span= @event.title
        ,
        %span= @event.level.competition_name
        %span.label.label-info= @event.state
      .row
        .col-xs-12.col-md-6
          %table.table.table-bordered
            %tr
              %td= t('.sport_name')
              %td
                %b= @event.sport_name
            %tr
              %td= t('.start_date')
              %td
                %b= @event.started_at
            %tr
              %td= t('.end_date')
              %td
                %b= @event.ended_at

            %tr
              %td= t('.location')
              %td
                %b= @event.location
            - if @event.description.present?
              %tr
                %td= t('.description')
                %td
                  %b= @event.description

        .col-xs-12.col-md-6
          %table.table.table-bordered
            %tr
              %td= t('.number_of_player')
              %td
                %b= @event.level.number_of_player
            %tr
              %td= t('.open_registered_at')
              %td
                %b= @event.open_registered_at
            %tr
              %td= t('.close_registered_at')
              %td
                %b= @event.close_registered_at

.row
  .x_panel
    .x_title
      %h5 Teams
    .x_content
      .row
        .col-xs-12
          - if @teams.any?
            %table.table
              %thead
                %tr
                  %th Picture
                  %th Name
                  %th Person Type
                  %th Passport Status
                  %th Nationality
                  %th Height
                  %th Weight
                  %th Blood Type
              %tbody
                - @teams.each do |team|
                  - team.people.each do |person|
                    %tr
                      %td= image_tag(person.avatar.thumb, class: "image-responsive person-avatar #{profile_pic_label_color(person)}")
                      %td= person.name
                      %td= person.person_type
                      %td= passport_label_color(person.passport.try(:state))
                      %td= person.nationality
                      %td= number_with_precision(person.height, precision: 2)
                      %td= number_with_precision(person.weight, precision: 2)
                      %td= person.blood_type
          - else
            %h2.text-center No Team
