.action-url.game{'data-path': admin_game_path(game)}
  - if policy(:admin).edit?
    = link_to edit_admin_game_path(game), class: 'btn btn-success btn-xs' do
      = fa_icon 'pencil'
  - if policy(:admin).destroy?
    = link_to admin_game_path(game), method: :delete, 'data-confirm': 'Are you sure?', class: 'btn btn-warning btn-xs' do
      = fa_icon 'trash'
