= simple_form_for([:admin, @game]) do |f|
  .row
    .col-xs-12
      #logo
        .row
          .col-xs-12
            = image_tag f.object.logo, class: 'image_to_upload logo-thumb', width: 120
          .col-xs-12
            = f.file_field :logo, class: 'photo_upload'
  %br
  .row
    .col-xs-12
      = f.input :name, label: t('.name')
  %br
  .row
    .col-xs-6
      = f.input :batch, label: t('.batch')
    .col-xs-6
      = f.input :year, label: t('.year')
  %br
  .row
    .col-xs-12.text-right
      = f.submit t('.save') , class: 'btn btn-success'
