-# .nested-fields.row
-#   .col-xs-12.col-sm-6
-#     = f.input :sport_category_id,
-#       label: false,
-#       collection: SportCategory.pluck(:name, :id),
-#       input_html: { class: 'select2 select-sport' }
-#   .col-xs-12.col-sm-3
-#     = link_to_remove_association f, class: 'btn btn-danger' do
-#       = fa_icon 'trash'
