.row
  .col-xs-12.text-right
    - if policy(:admin).new?
      = link_to new_admin_game_path(), class: 'btn btn-primary btn-margin' do
        = t('.new_game')

.row
  .x_panel
    .x_title
      %h5= t('.game_list')
    .x_content
      = datagrid_table @game_grid, html: {class: 'table table-condensed games-table'}
