.row
  .col-xs-12
    .x_panel
      .x_title
        %h5= @game.name
      .x_content
        .row
          .col-xs-12
            %p Dashboard
        .row
          .col-xs-2
            Game:
          .col-xs-10
            = @game.name
        .row
          .col-xs-2
            = "#{t('.year')}:"
          .col-xs-4
            = @game.year
          .col-xs-2
            = "#{t('.batch')}:"
          .col-xs-4
            = @game.batch

  .col-xs-12
    .x_panel
      .x_title
        Filter People in Game
      .x_content
        = datagrid_form_for (@people_grid), url: admin_game_path(@game)
        .ln_solid
        = datagrid_table @people_grid, html: {class: 'table table-condensed people-table'}
      .text-center
        = will_paginate @people_grid.assets, renderer: BootstrapPagination::Rails

  .col-xs-12.col-sm-6
    .col-xs-12.text-right
      = link_to t('.new_game_event'), new_admin_game_game_sport_category_path(@game), class: 'btn btn-primary'
    .col-xs-12
      .x_panel
        .x_title
          %h5= t('.game_and_level')
        .x_content
          %table.table
            %thead
              %tr
                %th= t('.sport')
                %th= t('.level')
                %th
            %tbody
              - @game.game_sport_categories.each do |game_sport_category|
                %tr
                  %td= game_sport_category.sport_name
                  %td= game_sport_category.levels.map(&:level_label).join(', ')
                  %td{ style: "width: 75px;" }
                    = link_to edit_admin_game_game_sport_category_path(@game, game_sport_category) do
                      = fa_icon 'pencil', class: 'icon-border icon-info'
                    = link_to admin_game_game_sport_category_path(@game, game_sport_category), method: :delete, 'data-confirm': 'Are you sure?' do
                      = fa_icon 'trash', class: 'icon-border icon-danger'
  .col-xs-12.col-sm-6
    .col-xs-12.text-right
      = link_to t('.new_event'), new_admin_game_event_path(game_id: @game.id), class: 'btn btn-primary'
    .col-xs-12
      .x_panel
        .x_title
          %h5= t('.event')
        .x_content
          %table.table
            %thead
              %tr
                %th#event-table-header= t('.title')
                %th= t('.event_level')
                %th
            %tbody
              - @game.events.each do |event|
                %tr
                  %td= event.title
                  %td= event.level_label_with_sport
                  %td{ style: "width: 75px;" }
                    = link_to edit_admin_game_event_path(@game, event) do
                      = fa_icon 'pencil', class: 'icon-border icon-info'
                    = link_to admin_game_event_path(@game, event), method: :delete, 'data-confirm': 'Are you sure?' do
                      = fa_icon 'trash', class: 'icon-border icon-danger'
