.action-url.user{'data-path': user_path(user)}
  - if policy(:user).disable?
    = link_to disable_user_path(user), disabled: current_user == user ? true : false do
      = fa_icon lock_button(user.disabled), class: 'icon-border'
  - if policy(:user).edit?
    = link_to edit_user_path(user) do
      = fa_icon 'pencil', class: 'icon-border icon-info'
  - if policy(:user).destroy?
    = link_to user_path(user), method: :delete, data: { confirm: t('users.delete.prompt') } do
      = fa_icon 'trash', class: 'icon-border icon-danger'
