= simple_form_for(@user) do |f|
  .row
    .col-xs-6
      = f.input :sure_name_kh, label: t('.sure_name_kh')
    .col-xs-6
      = f.input :given_name_kh, label: t('.given_name_kh')
  .row
    .col-xs-6
      = f.input :sure_name_en, label: t('.sure_name_en')
    .col-xs-6
      = f.input :given_name_en, label: t('.given_name_en')
  .row
    .col-xs-3
      = f.input :email, label: t('.email')
    .col-xs-3
      = f.association :sport_category, label: t('.sport_category'), collection: SportCategory.only_parent.pluck(:name, :id)
    .col-xs-3
      = f.association :organization, label: t('.organization')
    .col-xs-3
      = f.input :local, collection: I18n.available_locales, label: t('.local')
  .row
    .col-xs-4
      = f.input :phone, label: t('.phone')
    .col-xs-4
      = f.input :title, label: t('.title')
    .col-xs-4
      = f.input :role, collection: User::ROLES.map{ |role| [role.titleize, role] }, prompt: 'Select Role', selected: @user.role, label: t('.role')
  - if current_user == @user || action_name.in?(['new', 'create'])
    %br
    .row
      .col-xs-2
        = f.label :password, label: t('.password')
      .col-xs-10
        = f.input :password, label: false
    %br
    .row
      .col-xs-2
        = f.label :password_confirmation, label: t('.password_confirmation')
      .col-xs-10
        = f.input :password_confirmation, label: false
  .row
    .col-xs-12.text-right
      = f.submit t('actions.save') , class: 'btn btn-primary'
