.row
  .x_panel
    .x_title
      %h5
        %strong
          = t('.user_filter')
    .x_content
      = datagrid_form_for @users_grid, url: users_path
.row
  .col-xs-12.text-right
    - if policy(:admin).new?
      = link_to new_user_path(), class: 'btn btn-default btn-margin' do
        = t('.new_user')
      = link_to new_user_invitation_path(), class: 'btn btn-primary btn-margin' do
        = t('.invite_user')
.row
  .x_panel
    .x_title
      %h5= t('.user_list')
    .x_content
      = datagrid_table @users_grid, html: {class: 'table table-condensed people-table'}
