.x_panel
  .x_title
    %h5= t('.user')
  .x_content
    .row
      .col-xs-12.col-md-6
        %table.table.table-bordered
          %tr
            %td= t('.email')
            %td
              %b= @user.email
          %tr
            %td= t('.username')
            %td
              %b= @user.fullname_kh
          %tr
            %td= t('.role')
            %td
              %b= @user.role
          %tr
            %td= t('.organization')
            %td
              %b= @user.organization.name
          %tr
            %td= t('.local')
            %td
              %b= @user.local
          %tr
            %td= t('.phone')
            %td
              %b= @user.phone
      .col-xs-12.col-md-6
        %table.table.table-bordered
          %tr
            %td= t('.sport_category')
            %td
              %b= @user.sport_category_name
          %tr
            %td= t('.title')
            %td
              %b= @user.title
          %tr
            %td= t('.sure_name_kh')
            %td
              %b= @user.sure_name_kh
          %tr
            %td= t('.given_name_kh')
            %td
              %b= @user.given_name_kh
          %tr
            %td= t('.sure_name_en')
            %td
              %b= @user.sure_name_en
          %tr
            %td= t('.given_name_en')
            %td
              %b= @user.given_name_en

    .ln_solid
    .row
      .col-xs-12.text-right
        = link_to t('actions.back'), users_path, class: 'btn btn-default'
        - if policy(:user).edit?
          = link_to t('actions.edit'), edit_user_path(@user), class: 'btn btn-primary'
