- if current_user.admin?
  .row
    .x_panel
      .x_title
        %h5= t('.scanning_filter')
      .x_content
        = datagrid_form_for @scannings, url: scannings_path

.row
  .x_panel
    .x_title
      %h5= t('.scanning_list')

    .x_content
      = datagrid_table @scannings, html: {class: 'table table-condensed people-table'}, unclickable: true
      = will_paginate(@scannings.assets)
