#content#person-pdf{style:'box-sizing: border-box,'}
  .row.text-center
    .col-xs-3
      =wicked_pdf_image_tag('moey.png', class: 'img-responsive', style: 'width: 80px; margin-left: 60px;')
    .col-xs-6.text-center{style: 'margin-top: 20px;'}
      .row
        .col-xs-12
          %h4.text-primary
            %b="ការប្រកួតកីឡាជាតិលើកទី#{@game.batch} ឆ្នាំ#{@game.year}"
      .row
        .col-xs-12
          %h4= @game.name
      .row
        .col-xs-12
          %h4.text-primary
            %b ទម្រង់បែបបទចុះឈ្មោះមន្ត្រី​ កីឡាករ កីឡាការិនី
      .row
        .col-xs-12
          %h4.text-primary
            = @sport.name
            = @sport.id
    .col-xs-2.col-xs-offset-1
      = wicked_pdf_image_tag(@game.logo.url, class: 'img-responsive', style: 'width: 90px;')

  .row
    %table{style: 'width: 100%;'}
      %tbody
        %tr
          %td{rowspan: 2, style: 'min-height: 40px; border: 1px solid; margin: 10px; width: 270px; margin-left: 10px;'}
            %div{style: 'margin-left: 10px;'}
              = current_user.org_label
          %td{rowspan: 2, style: 'min-height: 40px; border: 1px solid; margin: 10px;'}
            %div.text-center
              = current_user.org_name
          %td{colspan: 3, style: 'min-height: 40px; border: 1px solid; margin: 10px;'}
            %div.text-center
              អក្សរកាត់អង្គភាព
        %tr
          %td{style: 'border: 1px solid; margin: 10px; width: 15%;'}
            %div.text-center{style: 'min-height: 40px; line-height: 40px;'}= current_user.org_short_code


    %h4 ម​ន្ត្រីដឹកនាំ
    %table{style: 'width: 100%;'}
      %tbody
        %tr.text-center.always-break{style: 'page-break-inside: avoid;'}
          %td{style: 'border: 1px solid; margin: 10px; width: 70px;'}
            លេខកូដ
          %td{rowspan: 2, style: 'border: 1px solid; margin: 10px; width: 200px;'}
            ល.រ
          %td{rowspan: 2, style: 'border: 1px solid;  margin: 10px; width: 100px;'}
            នាមត្រកូល
          %td{rowspan: 2, style: 'border: 1px solid;  margin: 10px; width: 100px;'}
            នាមខ្លួន
          %td{rowspan: 2, style: 'border: 1px solid;  margin: 10px; width: 100px;'}
            Given Name
          %td{rowspan: 2, style: 'border: 1px solid;  margin: 10px; width: 100px;'}
            Surname
          %td{colspan: 3, style: 'border: 1px solid; margin: 10px; width: 120px;'}
            ថ្ងៃ ខែ​ ឆ្នាំ​កំណើត
          %td{rowspan: 2, style: 'border: 1px solid; margin: 10px; width: 185px;'}
            តួនាទី

        %tr.text-center.always-break{style: 'page-break-inside: avoid;'}
          %td{style: 'border: 1px solid;  margin: 10px;'}
            កីឡា
          %td{style: 'border: 1px solid;  margin: 10px;'}
            ថ្ងៃ
          %td{style: 'border: 1px solid;  margin: 10px;'}
            ខែ
          %td{style: 'border: 1px solid;  margin: 10px;'}
            ឆ្នាំ

        - pervious_people = []
        - index = 0
        - @non_athletes.each do |person|
          - next if person.id.in?(pervious_people)
          %tr.text-center.always-break{style: 'page-break-inside: avoid;'}
            %td{style: 'border: 1px solid;  margin: 10px;'}
              = @sport.id
            %td{style: 'border: 1px solid;  margin: 10px;'}
              = index + 1
            %td{colspan: 2, style: 'border: 1px solid;  margin: 10px;'}
              = person.sure_name_kh
              = person.given_name_kh
            %td{colspan: 2, style: 'border: 1px solid;  margin: 10px;'}
              = person.sure_name_en
              = person.given_name_en
            %td{style: 'border: 1px solid;  margin: 10px;'}
              = person.date_of_birth.day
            %td{style: 'border: 1px solid;  margin: 10px;'}
              = person.date_of_birth.month
            %td{style: 'border: 1px solid;  margin: 10px;'}
              = person.date_of_birth.year
            %td{style: 'border: 1px solid;  margin: 10px;'}
              -# = person_team.position
              = person.person_teams.pluck(:position).uniq.join(', ')
            - pervious_people << person.id
            - index += 1

    %h4 កីឡាករ
    %table{style: 'width: 100%;'}
      %tbody
        %tr.text-center.always-break{style: 'page-break-inside: avoid;'}
          %td{style: 'border: 1px solid; margin: 10px; width: 70px;'}
            លេខកូដ
          %td{rowspan: 2, style: 'border: 1px solid; margin: 10px; width: 200px;'}
            វិញ្ញាសា
          %td{rowspan: 2, style: 'border: 1px solid;  margin: 10px; width: 100px;'}
            នាមត្រកូល
          %td{rowspan: 2, style: 'border: 1px solid;  margin: 10px; width: 100px;'}
            នាមខ្លួន
          %td{rowspan: 2, style: 'border: 1px solid;  margin: 10px; width: 100px;'}
            Given Name
          %td{rowspan: 2, style: 'border: 1px solid;  margin: 10px; width: 100px;'}
            Surname
          %td{colspan: 3, style: 'border: 1px solid; margin: 10px; width: 120px;'}
            ថ្ងៃ ខែ​ ឆ្នាំ​កំណើត
          %td{rowspan: 2, style: 'border: 1px solid; margin: 10px; width: 140px;'}
            លេខ​អត្តសញ្ញាណបណ្ណ
          %td{style: 'border: 1px solid; margin: 10px;  width: 50px;'}
            កំពស
          %td{style: 'border: 1px solid; margin: 10px;  width: 50px;'}
            ទម្ងន់
          - if @sport.uniform_restrict?
            %td{rowspan: 2, style: 'border: 1px solid; margin: 10px; width: 70px;'}
              ផ្សេងៗ
        %tr.text-center.always-break{style: 'page-break-inside: avoid;'}
          %td{style: 'border: 1px solid;  margin: 10px;'}
            កីឡា
          %td{style: 'border: 1px solid;  margin: 10px;'}
            ថ្ងៃ
          %td{style: 'border: 1px solid;  margin: 10px;'}
            ខែ​
          %td{style: 'border: 1px solid;  margin: 10px;'}
            ឆ្នាំ
          %td{style: 'border: 1px solid;  margin: 10px;'}
            ស.ម
          %td{style: 'border: 1px solid;  margin: 10px;'}
            គ.ក្រ
        - @teams.each do |team|
          - members = team.people.merge(PersonTeam.only_athlete)
          - member_amount = members.length
          - if member_amount == 1
            - members.each do |person|
              %tr.text-center.always-break{style: 'page-break-inside: avoid;'}
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = @sport.id
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = team.level.competition_name
                %td{colspan: 2, style: 'border: 1px solid;  margin: 10px;'}
                  = person.sure_name_kh
                  = person.given_name_kh
                %td{colspan: 2, style: 'border: 1px solid;  margin: 10px;'}
                  = person.sure_name_en
                  = person.given_name_en
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = person.date_of_birth.day
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = person.date_of_birth.month
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = person.date_of_birth.year
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = person.identification_number
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = number_with_precision(person.height, precision: 2)
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = number_with_precision(person.weight, precision: 2)
                - if @sport.uniform_restrict?
                  %td{style: 'border: 1px solid; margin: 10px; width: 70px;'}

          - else
            - members.each_with_index do |person, index|
              %tr.text-center.always-break{style: 'page-break-inside: avoid;'}
                - if index == 0
                  %td{rowspan: member_amount, style: 'border: 1px solid;  margin: 10px;'}
                    = team.event.id
                  %td{rowspan: member_amount, style: 'border: 1px solid;  margin: 10px;'}
                    = team.level.competition_name
                %td{colspan: 2, style: 'border: 1px solid;  margin: 10px;'}
                  = person.sure_name_kh
                  = person.given_name_kh
                %td{colspan: 2, style: 'border: 1px solid;  margin: 10px;'}
                  = person.sure_name_en
                  = person.given_name_en
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = person.date_of_birth.day
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = person.date_of_birth.month
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = person.date_of_birth.year
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = person.identification_number
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = number_with_precision(person.height, precision: 2)
                %td{style: 'border: 1px solid;  margin: 10px;'}
                  = number_with_precision(person.weight, precision: 2)
                - if @sport.uniform_restrict?
                  %td{style: 'border: 1px solid; margin: 10px; width: 70px;'}


    .col-xs-12{style: 'margin: 20px 0; page-break-inside: avoid; clear: both; page-break-inside: avoid;'}
      .col-xs-6.text-center
        %p
          %strong បានឃើញ និងឯកភាព
        %p
          %strong អភិបាល​ខេត្ត​/រដ្ឋមន្ត្រី​
      .col-xs-6.text-center
        %p
          %strong ថ្ងៃ ..........................ខែ...................... ឆ្នាំ...........................
        %p
          %strong ……………ថ្ងៃទី .......ខែ........ ឆ្នាំ២០១_
        %p
          %strong ប្រធានអង្គភាព
