.row
  .col-xs-12
    = link_to game_pdf_game_events_path(@game, sport_id: params[:sport_id], format: :pdf), class: 'btn btn-primary pull-right' do
      = fa_icon 'file'
.row
  - if @events.blank?
    %h3.text-center No Events
  - @events.each do |event|
    .col-xs-6
      .x_panel
        .x_title
          %h5= event.title
        .x_content
          .row
            .col-xs-12
              %h2= event_state_label(event.state)
            .col-xs-12
              %table.table.table-bordered.event-detail
                %tr
                  %td.detail-label= t('.sport_name')
                  %td.detail-value= event.sport_name

                %tr
                  %td.detail-label= t('.level_name')
                  %td.detail-value= event.level_label

                %tr
                  %td.detail-label= t('.open_registered_at')
                  %td.detail-value= event.open_registered_at

                %tr
                  %td.detail-label= t('.close_registered_at')
                  %td.detail-value= event.close_registered_at

                %tr
                  %td.detail-label= t('.start_date')
                  %td.detail-value= event.started_at

                %tr
                  %td.detail-label= t('.end_date')
                  %td.detail-value= event.ended_at

                %tr
                  %td.detail-label= t('.location')
                  %td.detail-value= event.location

                %tr
                  %td.detail-label= t('.description')
                  %td.detail-value
                    = event.description

          .ln_solid
          .row
            .col-xs-12
              = link_to t('.join'), game_event_path(@game, event), class: 'btn btn-success btn-block pull-right'
