body[id='sport_categories-form'],
body[id='sport_categories-new'],
body[id='sport_categories-create'],
body[id='sport_categories-edit'],
body[id='sport_categories-update'] {
  .bootstrap-tagsinput {
    width: 100% !important;
  }
  span.tag.label.label-info::after {
    display: none !important;
  }
}
