body[id='sport_categories-index'] {
  .action {
    width: 200px;
  }
  .sport-logo {
    border-radius: 30%;
    border-color: 'gray';
    border: 1px solid;
  }
  #link-download-excel-admin {
    margin-top: 6px;
  }
}
