body[id='people-check_availibilities'], body[id='people-confirm'] {
  background-color: #F7F7F7;
  color: black;

  .nav_menu, .left_col {
    display: none;
  }

  .right_col {
    min-height: 100% !important;
    margin-left: 0 !important;
    text-align: center;
  }

  i {
    font-size: 100px;
    margin-bottom: 20px;
  }

  i.fa-times-circle-o, .invalid {
    color: #d9534f;
  }

  .x_panel {
    margin-top: calc(50% - 260px);
    padding: 50px;
  }

  .card {
    height: 13.9cm;
    width: 9.6cm;
    position: relative;
    margin: 0 auto;

    .profile-picture, .card-type, .qr-code, .person-name, .organization, .position, .infinity-sign {
      position: absolute;
    }

    h1, h2 {
      font-weight: bold;
    }

    .profile-picture {
      top: 132px;
      right: 23px;
    }

    .card-type {
      top: 217px;
      left: 90px;
      width: 100px;

      h1 {
        font-size: 50px;
        font-weight: bold;
      }
    }

    .qr-code{
      bottom: 60px;
      left: 10px
    }

    .person-name {
      top: 295px;
      left: 30px;
      font-family: Moul;
    }

    .organization {
      top: 325px;
      left: 30px;
      font-family: Moul;
    }

    .position {
      bottom: 8px;
      left: 5%;
      width: 90%;

      h2 {
        font-size: 23px;
        font-weight: bold;
        color: white;
      }
    }

    .infinity-sign {
      top: 360px;
      left: 0;
      width: 100%;

      h2 {
        font-size: 90px;
        color: white;
      }
    }

    .spoon-fork {
      position: absolute;
      bottom: 60px;
      right: 10px;

      img {
        width: 60px;
        height: 60px;
      }
    }

    .sport-category-logo {
      position: absolute;
      bottom: 60px;
      left: 150px;

      img {
        height: 70px;
      }
    }
  }

  .btn-confirm, .btn-back-home {
    margin-top: 20px;
    width: 9.6cm;
    font-size: 30px;
  }
}
