body[id='people-index'] {
  @import 'people/grid';
  .person-avatar {
    border-radius: 50%;
    border: 2px solid;
  }
  .avatar-danger {
    border-color: #d9534f;
  }
  .avatar-success {
    border-color: #5cb85c;
  }
  #link-add-new-member {
    position: absolute;
    right: 165px;
    top: 0px;
  }
  #link-download-excel {
    position: absolute;
    right: 11px;
    top: 15px;
  }

  #link-download-pdf {
    position: absolute;
    right: 267px;
    top: 15px;
  }

  td.activation, th.activation {
    text-align: center;
  }
}
