body#card_activations-activate {
  background-color: #F7F7F7;

  .nav_menu, .left_col {
    display: none;
  }

  .right_col {
    min-height: 100% !important;
    margin-left: 0 !important;
    text-align: center;
  }

  i {
    font-size: 100px;
    margin-bottom: 20px;
  }

  i.fa-check-circle-o, .valid {
    color: green;
  }

  i.fa-times-circle-o, .invalid {
    color: red;
  }

  .x_panel {
    margin-top: calc(50% - 260px);
    padding: 50px;
  }

  .btn-back-home {
    margin-top: 20px;
    width: 9.6cm;
    font-size: 30px;
  }
}
