.action-url.performer{'data-path': performer_path(performer)}
  - if policy(:admin).edit? || performer.user == current_user
    = link_to edit_performer_path(performer)do
      = fa_icon 'pencil', class: 'icon-border icon-info'
  -# = link_to performer_path(performer, format: :pdf) do
  -#   = fa_icon 'file', class: 'icon-border'
  - if policy(:admin).edit?  || performer.user == current_user
    = link_to performer_path(performer), method: :delete, data: { confirm: t('users.delete.prompt') } do
      = fa_icon 'trash', class: 'icon-border'
