= simple_form_for(@performer) do |f|
  .row
    #avatar
      .col-xs-12
        = image_tag f.object.avatar, class: 'avatar-thumb', width: 120
      .col-xs-12
        %i= t('.click_on_the_picture_to_change')
        .hide
          = f.input :avatar, label: t('.avatar')
  .ln_solid
  .row
    .col-xs-12.col-md-4
      = f.input :sure_name_kh, label: t('.sure_name_kh')
    .col-xs-12.col-md-4
      = f.input :given_name_kh, label: t('.given_name_kh')
    .col-xs-12.col-md-4
      = f.input :sex, collection: ['Female', 'Male'], selected: f.object.sex || 'Female', input_html: { class: 'select2'}, label: t('.gender')

  .row
    .col-xs-12.col-md-4
      = f.input :sure_name_en, label: t('.sure_name_en')
    .col-xs-12.col-md-4
      = f.input :given_name_en, label: t('.given_name_en')
    .col-xs-12.col-md-4
      = f.input :date_of_birth, as: :string, input_html: { class: 'datepicker' }, label: t('.dob')

  .row
    .col-xs-12.col-md-4
      = f.input :identification_number, label: t('.id')
    .col-xs-12.col-md-4
      = f.input :citizenship, label: t('.citizenship')
    .col-xs-12.col-md-4
      = f.input :nationality, label: t('.nationality')

  .row
    .col-xs-12.col-md-6
      = f.input :phone, label: t('.phone')
    .col-xs-12.col-md-6
      = f.input :email, label: t('.email')

  -# .row
  -#   .col-xs-12.col-md-4
  -#     = f.input :uniform_number, label: t('.uniform_number')
  -#   .col-xs-12.col-md-4
  -#     = f.input :person_type, collection: Person::PERSON_TYPE.map { |type| [type.titleize, type] }, input_html: { class: 'select2' }, prompt: 'Select person role', selected: @person.person_type || '', label: t('.person_type')
  -#
  -#   .col-xs-12.col-md-4
  -#     = f.input :sport_category_id, collection: SportCategory.only_parent.pluck(:name, :id), prompt: 'Select Sport', selected: @person.sport_category_id || '', input_html: { class: 'select2' }, label: t('.sport')

  .row
    .col-xs-12
      = f.input :address, as: :text, label: t('.address')
  .ln_solid
  .row
    .col-xs-12.text-right
      = f.submit t('.save') , class: 'btn btn-success'
