
- @performers.each_slice(2) do |two_people|
  .row.text-center
    - two_people.each do |person|
      - qr = RQRCode::QRCode.new(person_check_availibilities_url(person), :size => 4, :level => :l)
      .col-xs-6{ style: 'padding: 0' }
        .card{ style: 'height: 13.9cm; width: 9.6cm; position: relative; margin-bottom: 0px;' }
          = wicked_pdf_image_tag("card-background.png", class: 'img-responsive', style: 'position: absolute;')
          .profile-picture{ style: 'position: absolute; top: 132px; right: 23px' }
            = wicked_pdf_image_tag(person.avatar.main || 'default-profile.png', class: 'img-responsive', style: 'width: 123px; height: 147px')

          .card-type{ style: 'position: absolute; top: 217px; left: 90px; width: 100px;' }
            %h1{ style: 'font-size: 50px; font-weight: bold' }= person.card_type.try(:letter)

          .qr-code{ style: 'position: absolute; bottom: 60px; left: 10px' }
            = raw qr.as_html

          .person-name{ style: 'position: absolute; top: 295px; left: 30px; font-family: Moul' }
            %h2{ style: 'font-weight: bold' }= person.name

          .organization{ style: 'position: absolute; top: 325px; left: 30px; font-family: Moul' }
            %h2{ style: 'font-weight: bold' }= ""

          - if person.card_type.present? && person.card_type.letter.in?(['A', 'B']) && !person.user.sport_representer?
            .infinity-sign{ style: 'position: absolute; top: 360px; left: 0; width: 100%' }
              %h2{ style: 'font-size: 90px;' } ∞

          - if person.card_type.try(:allow_food)
            .spoon-fork{ style: 'position: absolute; bottom: 60px; right: 10px' }
              = wicked_pdf_image_tag('spoon-fork.png', class: 'img-responsive', style: 'width: 60px; height: 60px')

          .position{ style: 'position: absolute; bottom: 8px; left: 5%; width: 90%' }
            %h2{ style: 'font-weight: bold; font-size: 25px; color: white;' }= person.card_type.try(:name)
