.x_panel
  .x_title
    %h5 Crop Avatar
  .x_content
    .row
      .col-xs-12
        = image_tag @performer.avatar_url(:large), id: 'avatar-cropbox'
      %br
      = simple_form_for(@performer) do |f|
        .col-xs-12
          - %w(x y w h).each do |attribute|
            = f.hidden_field "crop_#{attribute}"
          .ln_solid
        .row
          .col-xs-12.text-right
            = f.submit 'Crop', class: 'btn btn-primary'
