-# translation need . %w(performer_filter performer_list add_performer)
.row
  .x_panel
    .x_title
      %h5= t('.performers_filter')
    .x_content
      = datagrid_form_for @performers_grid, url: performers_path
.pull-right
  - if policy(:performer).new?
    = link_to t('.add_performers'), new_performer_path, class: 'btn btn-primary btn-margin', id: 'link-add-new-member'
  - if policy(:performer).team_member_card?
    - assets = @performers_grid.assets
    - if assets.present?
      = link_to team_member_card_performers_path(performer_id: assets.pluck(:id), format: :pdf), class: "btn btn-margin btn-default #{assets.present? ? '' : 'disabled'}", id: 'link-download-pdf', target: '_blank' do
        = fa_icon 'download'
        = t('.download_card')
.row
  .x_panel
    .x_title
      %h5= t('.performers_list')

    .x_content
      = datagrid_table @performers_grid, html: {class: 'table table-condensed people-table'}
