.row
  .col-xs-12.col-md-6
    .x_panel
      .x_title
        %h5= t('layouts.left_col.performers')
      .x_content
        .row
          .col-xs-12
            %table.table.table-bordered
              %tr
                %td
                  %b= t('.avatar')
                %td#avatar-image
                  - if @performer.avatar.present?
                    = link_to @performer.avatar.url, { target: '_blank' } do
                      .image-container
                        = image_tag @performer.avatar.main, id: 'performer-img', width: 250
                  - else
                    .image-container
                      = image_tag @performer.avatar, id: 'performer-img', width: 250

              %tr
                %td
                  %b= t('.name')
                %td= @performer.name

              %tr
                %td
                  %b= t('.gender')
                %td= @performer.sex

              %tr
                %td
                  %b= t('.age')
                %td= @performer.age

              %tr
                %td
                  %b= t('.email')
                %td
                  = @performer.email

              %tr
                %td
                  %b= t('.sure_name_en')
                %td= @performer.sure_name_en
              %tr
                %td
                  %b= t('.given_name_en')
                %td= @performer.given_name_en

              %tr
                %td
                  %b= t('.id')
                %td= @performer.identification_number
              %tr
                %td
                  %b= t('.citizenship')
                %td= @performer.citizenship
              %tr
                %td
                  %b= t('.nationality')
                %td
                  = @performer.nationality
              %tr
                %td
                  %b= t('.address')
                %td= @performer.address
        .ln_solid
        .row.text-right
          - if policy(:performer).edit? || @performer.user == current_user
            = link_to t('actions.edit'), edit_performer_path(@performer), class: 'btn btn-info'
          - if policy(:performer).edit? || @performer.user == current_user
            = link_to t('actions.delete'), performer_path(@performer), method: :delete, data: { confirm: t('users.delete.prompt') }, class: 'btn btn-danger'
  -# .col-xs-12
  -#   .x_panel
  -#     .x_title
  -#       %h5= t('.joint_event')
  -#     .x_content
  -#       - if @performer.events.present?
  -#         = datagrid_table @event_grid, html: {class: 'table table-condensed events-table'}
  -#       - else
  -#         %p.text-center= t('.no_infomation')
