.col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
  .row.login-panel
    .x_panel
      .x_title.text-center
        %h5= t('.login')
      .x_content
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field.form-group
            = f.label :email, label: t('.email')
            %br/
            = f.email_field :email, autofocus: true, class: 'form-control'
          .field.form-group
            = f.label :password, label: t('.password')
            %br/
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          - if devise_mapping.rememberable?
            .field.form-group
              = f.check_box :remember_me
              = f.label :remember_me, label: t('.remember_me')
          .row
            .col-xs-12
              .actions
                = f.submit t('.login'), class: 'btn btn-primary btn-block'
