- if policy(:admin).edit?
  = link_to I18n.t('actions.edit'), edit_admin_organization_path(model), class: 'btn btn-success btn-xs'
  - if model.sport_submissions.any?
    = link_to I18n.t('admin.organizations.index.edit_sport_submission'), edit_admin_organization_sport_submission_path(model, model.get_sport_submission), class: 'btn btn-warning btn-xs'
  - else
    = link_to I18n.t('admin.organizations.index.edit_sport_submission'), '#', class: 'btn btn-warning btn-xs', disabled: true
