= simple_form_for([:admin, organization]) do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-xs-12
        = image_tag f.object.logo, class: 'image_to_upload logo-thumb', width: 120
      .col-xs-12
        = f.file_field :logo, class: 'photo_upload'
    %br/
    .row
      .col-xs-12.col-md-4
        = f.input :short_code, label: t('.short_code')
      .col-xs-12.col-md-4
        = f.input :name, label: t('.name')
      .col-xs-12.col-md-4
        = f.input :org_label, label: t('.org_label')
    .form-actions
      = f.submit t('actions.save'), class: 'btn btn-primary'
