#notice= notice
.row
  .x_panel
    .x_title
      %h5= t('.organizations_filter')
    .x_content
      = datagrid_form_for @organizations_grid, :method => :get, :url => admin_organizations_path

.row
  .x_panel
    .x_title
      %h5= t('.organizations_list')
      - if policy(:admin).new?
        = link_to t('.add_organization'), new_admin_organization_path, class: 'btn btn-primary text-right', id: 'link-add-organization'
    .x_content
      = datagrid_table @organizations_grid, html: {class: 'table table-condensed organizations-table'}, unclickable: true
      = paginate(@organizations_grid.assets)
