.row
  .col-xs-12.col-md-6.col-md-offset-3
    .x_panel
      .x_title
        %h5= t 'devise.invitations.edit.header'
      .x_content
        = simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f|
          = devise_error_messages!
          = f.input :skip_en_name_validation, as: :hidden, input_html: { value: true }
          .row
            .col-xs-12
              = f.hidden_field :invitation_token
              = f.input :password, label: t(".password")
              = f.input :password_confirmation, label: t(".password_confirmation")
          .row
            .col-xs-12.text-right
              = f.button :submit, t("devise.invitations.edit.submit_button"), class: 'btn btn-primary'
