.row
  .x_panel
    .x_title
      %h5= t "devise.invitations.new.header"
    .x_content
      = simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post } do |f|
        =# devise_error_messages!
        - resource.class.invite_key_fields.each do |field|
          = f.input :skip_password_validation, as: :hidden, input_html: { value: true }
          = f.input :skip_en_name_validation, as: :hidden, input_html: { value: true }
          .row
            .col-xs-12.col-md-4
              = f.input :sure_name_kh, label: t('.sure_name_kh')
            .col-xs-12.col-md-4
              = f.input :given_name_kh, label: t('.given_name_kh')
            .col-xs-12.col-md-4
              = f.input :title, label: t('.title')
          .row
            .col-xs-12.col-md-4
              = f.input :sure_name_en, label: t('.sure_name_en')
            .col-xs-12.col-md-4
              = f.input :given_name_en, label: t('.given_name_en')
            .col-xs-12.col-md-4
              = f.input :role, collection: User::ROLES.map{ |role| [role.titleize, role] }, label: t('.role')
          .row
            .col-xs-6
              = f.input field, label: t('.email')
            .col-xs-6
              = f.association :organization, label: t('.organization')
          .row
            .col-xs-12.text-right
              = f.button :submit, t("devise.invitations.new.submit_button"), class: 'btn btn-primary'
