- game = Game.last
#content#person-pdf{style:'box-sizing: border-box,'}
  .row.text-center
    .col-xs-3
      =wicked_pdf_image_tag('moey.png', class: 'img-responsive', style: 'width: 80px;')
    .col-xs-6.text-center{style: 'margin-top: 20px;'}
      .row
        .col-xs-12
          %h4.text-primary
            %b="ការប្រកួតកីឡាជាតិលើកទី#{game.batch} ឆ្នាំ#{game.year}"
      .row
        .col-xs-12
          %h4= game.name
      .row
        .col-xs-12
          %h4.text-primary
            INDIVIDUAL ENTITY FORM
    .col-xs-2.col-xs-offset-1
      =wicked_pdf_image_tag(game.logo.url, class: 'img-responsive', style: 'width: 90px;')

  .row
    %table{style: "width: 100%;"}
      %tbody
        %tr
          %td{style: 'border: 1px solid; '}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.user.org_label
          %td.text-center{colspan: 5, style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.user.org_name
          %td.text-center{style: 'border: 1px solid; width: 65px;'}
            %div{style: 'min-height: 40px; line-height: 40px;'} លេខកូត៖
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.id
        %tr
          %td{colspan: 6}
            %div{style: 'min-height: 40px;'}
          %td{colspan: 4, rowspan: 5, style: 'border: 1px solid;'}
            .box.text-center{style: 'width: 160px; height: 200px; border: 1px solid black; line-hieght: 200px; margin: 10px auto;'}
              -# %div រូបថតថ្មី
              -# ៤ x ៦
              = wicked_pdf_image_tag(@person.avatar.main, class: 'img-responsive')
        %tr
          %td{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'} នាមត្រកូល
          %td{colspan: 3, style: 'border: 1px solid;'}
            %div.text-center{style: 'min-height: 40px; line-height: 40px;'}= @person.sure_name_kh
          %td{style: 'border: 1px solid;'}
            %div.text-center{style: 'min-height: 40px; line-height: 40px;'} នាម
          %td{style: 'border: 1px solid;'}
            %div.text-center{style: 'min-height: 40px; line-height: 40px;'}= @person.given_name_kh
        %tr
          %td{rowspan: 2, style: 'border: 1px solid; vertical-align: middle;'}
            %div{style: 'min-height: 40px; line-height: 40px;'} ថ្ងៃ ខែ​ ឆ្នាំ​កំណើត
          %td.text-center{colspan: 3, style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'} ថ្ងៃ
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'} ខែ​
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'} ឆ្នាំ
        %tr
          %td.text-center{colspan: 3, style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.date_of_birth.day
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.date_of_birth.month
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.date_of_birth.year
        %tr
          %td{style: 'border: 1px solid;'}
            %div{style: 'min-height: 60px; line-height: 60px;'} សញ្ជាតិ
          %td.text-center{colspan: 3, style: 'border: 1px solid;'}
            %div{style: 'min-height: 60px; line-height: 60px;'}= @person.nationality
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 60px; line-height: 60px;'} ជនជាតិ
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 60px; line-height: 60px;'}= @person.citizenship
        %tr
          %td{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 60px;'} លេខអត្តសញ្ញាណប័ណ្ណ
          %td.text-center{colspan: 3, style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 60px;'} ផុតកំណត់
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 60px;'} កំពស់ ស.ម
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 60px;'} ទម្ងន់ជាគីឡូក្រាម
          %td.text-center{colspan: 4, style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 60px;'} ប្រភេទឈាម
        %tr
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.identification_number
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;width: 40px'}= @person.passport_validity.try(:day)
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px; width: 40px'}= @person.passport_validity.try(:month)
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px; width: 40px'}= @person.passport_validity.try(:year)
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.height
          %td.text-center{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.weight
          %td.text-center{colspan: 4, style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.blood_type
        %tr
          %td{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'} អាសយដ្ឋានបច្ចុប្បន្ន
          %td.text-center{colspan: 9, style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.address
        %tr
          %td{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'} ប្រភេទកីឡាប្រកួត
          %td.text-center{colspan: 9, style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.sport_category.try(:name)
        %tr
          %td{style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'} តួនាទីក្នុងហ្គេម
          %td.text-center{colspan: 9, style: 'border: 1px solid;'}
            %div{style: 'min-height: 40px; line-height: 40px;'}= @person.card_type.present? ? @person.card_type.name : @person.person_type.titleize

    .col-xs-12{style: 'margin: 20px 0;'}
      %p{style: 'text-indent: 50px;'}ខ្ញុំបាទ/នាងខ្ញុំ​​ សូមប្រកាសថា សេចក្តីរាយការណ៍ខាងលើពិតជាត្រឹមត្រូវ និងយល់ព្រមបំពេញតាមលក្ខខណ្ឌប្រកួត ដែលបានចែងដោយ ក្រសួងអប់រំ យុវជន និងកីឡា។
    .col-xs-6.text-center
      %p បានឃើញ និងឯកភាព
      %p ថ្ងៃ ..........................ខែ...................... ឆ្នាំ...........................
      %p……………ថ្ងៃទី .......ខែ............ ឆ្នាំ...............
      %strong= check_person_user_role
    .col-xs-6.text-center
      %p ថ្ងៃ ..........................ខែ...................... ឆ្នាំ...........................
      %p……………ថ្ងៃទី .......ខែ............ ឆ្នាំ...............
      %strong ហត្ថលេខាសាមីខ្លួន
