= simple_form_for([:admin, @card_type]) do |f|
  .row
    .col-xs-2
      = f.label :name, label: t('.name')
    .col-xs-10
      = f.input :name, label: false
  %br
  .row
    .col-xs-2
      = f.label :letter, label: t('.letter')
    .col-xs-10
      = f.input :letter, label: false, collection: CardType::LETTER

  %br
  .row
    .col-xs-2
      = f.label :allow_food, label: t('.allow_food'), style: 'margin-top: 12px;'
    .col-xs-10
      = f.input :allow_food, inline_label: true, label: t('.show')
  .row
    .col-xs-12.text-right
      = f.submit t('.save'), class: 'btn btn-success'
