.row
  .col-xs-12.text-right
    - if policy(:admin).new?
      = link_to new_admin_card_type_path(), class: 'btn btn-primary btn-margin' do
        = t('.new_card_type')

.row
  .x_panel
    .x_title
      %h5= t('.card_type_list')

    .x_content
      = datagrid_table @card_type_grid, html: {class: 'table table-condensed people-table'}, unclickable: true
