#notice= notice
.row
  .col-xs-12.text-right
    - if policy(:sport_representer_organization).index?
      = link_to sport_representer_organizations_path(format: :xlsx), class: 'btn btn-default', id: 'link-download-excel-admin', disabled: @organizations_grid.assets.empty? do
        = fa_icon 'download'
        = t('.download')
.row
  -# .x_panel
  -#   .x_title
  -#     %h5= t('.organizations_filter')
  -#   .x_content
  -#     = datagrid_form_for @organizations_grid, :method => :get, :url => admin_organizations_path

.row
  .x_panel
    .x_title
      %h5= t('.organizations_list')
      - if policy(:admin).new?
        = link_to t('.add_organization'), new_admin_organization_path, class: 'btn btn-primary text-right', id: 'link-add-organization'
    .x_content
      = datagrid_table @organizations_grid, html: {class: 'table table-condensed organizations-table'}, unclickable: true
      = paginate(@organizations_grid.assets)
