.action-url.sport{'data-path': admin_sport_category_path(sport)}
  - if policy(:admin).edit?
    = link_to edit_admin_sport_category_path(sport) do
      = fa_icon 'pencil', class: 'icon-border icon-info'
  - if policy(:admin).destroy?
    = link_to admin_sport_category_path(sport), method: :delete, 'data-confirm': 'Are you sure?' do
      = fa_icon 'trash', class: 'icon-border icon-danger'
  - if policy(:admin).new?
    = link_to new_admin_sport_category_notification_path(sport) do
      = fa_icon 'envelope', class: 'icon-border'
