= simple_form_for([:admin, @sport_category]) do |f|
  .row
    .col-xs-2
      = f.label :parent, label: t('.parent_id')
    .col-xs-10
      = f.input :parent_id, collection: SportCategory.only_parent, input_html: { value: @sport_category.try(:parent) }, label: false
  %br
  .row
    .col-xs-2
      = f.label :name, label: t('.name')
    .col-xs-6
      = f.input :name, label: false
    .col-xs-3
      = f.input :uniform_restrict, inline_label: true, label: t('.uniform_restrict')
  %br
  .row
    .col-xs-2
      = f.label :status, label: t('.status')
    .col-xs-10
      = f.input :status, collection: SportCategory::GENDER_STATUS, selected: f.object.status , label: false, include_blank: 'Select Specific Gender'
  %br
  .row
    .col-xs-2
      = f.label :uniform_labels, label: t('.uniform_labels')
    .col-xs-10
      = f.input :uniform_labels, label: false
  %br
  .row
    .col-xs-2
      = f.label :uniform_amount, label: t('.uniform_amount')
    .col-xs-10
      = f.input :uniform_amount, label: false
  %br
  .row
    .col-xs-2
      = f.label :description, label: t('.description')
    .col-xs-10
      = f.input :description, label: false
  %br
  .row
    .col-xs-2
      = f.label :logo, label: t('.logo')
    .col-xs-10
      = f.input :logo, label: false
  %br
  -# .row
  -#   .col-xs-12
  -#   %h3 Levels
  -#   #levels
  -#     = f.simple_fields_for :levels do |level|
  -#       = render 'level_fields', f: level
  -#     .links.pull-right
  -#       = link_to_add_association 'Add Level', f, :levels
  .row
    .col-xs-12.text-right
      = f.submit t('actions.save') , class: 'btn btn-success'
