.nested-fields.row
  .col-xs-12.col-sm-6
    = f.input :level_number, label: false
  .col-xs-12.col-sm-3
    = f.input :measurement_type, label: false
  .col-xs-12.col-sm-3
    = link_to_remove_association f, class: 'btn btn-danger' do
      = fa_icon 'trash'
