.row
  .col-xs-12.text-right
    - if policy(:admin).new?
      = link_to new_admin_sport_category_path(), class: 'btn btn-primary btn-margin' do
        = t('.new_sport')
      = link_to admin_sport_categories_path(format: :xlsx), class: 'btn btn-default', id: 'link-download-excel-admin', disabled: @sport_grid.assets.empty? do
        = fa_icon 'download'
        = t('.download')
    - elsif current_user.role == 'readonly_admin'
      = link_to admin_sport_categories_path(format: :xlsx), class: 'btn btn-default', id: 'link-download-excel', disabled: @sport_grid.assets.empty? do
        = fa_icon 'download'
        = t('.download')
.row
  .x_panel
    .x_title
      %h5= t('.sport_list')
    .x_content
      = datagrid_table @sport_grid, html: {class: 'table table-condensed sports-table'}
