.row
  .col-xs-6
    .x_panel
      .x_title
        %h5= "#{t('layouts.left_col.sports')} - #{@sport_category.name}"
      .x_content
        .row
          .col-xs-4= t('.description')
          .col-xs-8
            = @sport_category.description
  .col-xs-6
    .x_panel
      .x_title
        .row
          .col-xs-6
            %h5= t('.level')
          .col-xs-6.text-right
            = link_to t('.add_level'), new_admin_sport_category_level_path(@sport_category), class: 'btn btn-primary'
      .x_content
        - if @sport_category.levels.present?
          %table.table
            %thead
              %tr
                %th= t('.competition_name')
                %th= t('.number_of_player')
                %th= t('actions.action')
            %tbody
              - @sport_category.levels.each do |level|
                %tr
                  %td= level.competition_name
                  %td= level.number_of_player
                  %td
                    = link_to edit_admin_sport_category_level_path(@sport_category, level) do
                      = fa_icon 'pencil', class: 'icon-border icon-info'
                    = link_to admin_sport_category_level_path(@sport_category, level), method: :delete, 'data-confirm': 'Are you sure?' do
                      = fa_icon 'trash', class: 'icon-border icon-danger'
        - else
          .text-center
            %p No Level has been added

.row
  .col-xs-12
    .x_panel
      .x_title
        %h5= t('.event_list')
      .x_content
        = datagrid_table @event_grid, html: {class: 'table table-condensed events-table'}
