.align-logo {
  width: 85%;
  padding-left: 10px;
  padding-top: 5px;
}

.btn-margin {
  margin: 15px 0;
}

.avatar-danger {
  border-color: #d9534f !important;
}

.avatar-success {
  border-color: #5cb85c !important;
}

.icon-border {
  border: 1.5px solid;
  padding: 5px;
  border-radius: 5px;
  margin: 0 2px;
}

.icon-info {
  color: #5bc0de;
}

.icon-warning {
  color: #f0ad4e;
}

.icon-danger {
  color: #d9534f;
}

.icon-success {
  color: #5cb85c;
}
.select2-container {
  width: 100%;
}

.person-avatar {
  border-radius: 50%;
  border: 2px solid;
}

table tbody tr.clickable-row:hover {
  cursor: pointer;
}

a[disabled]{
  pointer-events: none;
  filter: grayscale(100%);
}

.fa-lock{
  padding: 5px 7px;
}

.qr-code {
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    margin-top: 20px;
  }

  td {
    border-left: solid 2px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 2px;
  }

  td.black {
    border-color: #000;
  }

  td.white {
    border-color: #fff;
  }
}
td#avatar-image {
  text-align: center;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  vertical-align: middle;
}

.rect {
  border: 2px solid #a64ceb;
  left: -1000px;
  position: absolute;
  top: -1000px;
}

.person-team-errors {
  background: rgba(255, 0, 0, 0.1);
}

tr th {
  h4, h5 {
    margin: 0px;
  }
}

#text-title-main-header, h4, h5 {
  font-family: 'Moul', arial, cursive;
  b, strong {
    font-family: 'Moul', arial, cursive;
  }
}

#text-title-main-header {
  b {
    font-size: 17px;
  }
}

h5 {
  b {
    font-size: 15px;
  }
}

#game-submission-table {
  #top-row-table, #buttom-row-table {
    width: 90%;
    margin: 0 auto;
  }
}
