body[id='sport_submissions-show'] {
  .hovereffect {
    // width: 100%;
    // height: 100%;
    width: 100%;
    max-height: 200px;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-bottom: 18px;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
    -webkit-box-shadow: 3px 4px 4px -2px rgba(0,0,0,0.62);
    -moz-box-shadow: 3px 4px 4px -2px rgba(0,0,0,0.62);
    box-shadow: 3px 4px 4px -2px rgba(0,0,0,0.62);

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      padding: 3em;
      text-align: left;
      &:before {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        border: 1px solid #fff;
        content: '';
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
        transition: opacity 0.35s, transform 0.45s;
        -webkit-transform: translate3d(-20px,0,0);
        transform: translate3d(-20px,0,0);
      }
    }

    img {
      display: block;
      position: relative;
      max-width: none;
      // width: calc(100% + 60px);
      width: auto;
      margin-top: 10px;
      height: 90%;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
      transition: opacity 0.35s, transform 0.45s;
      -webkit-transform: translate3d(37px,0,0);
      transform: translate3d(37px,0,0);
    }

    h2 {
      text-transform: uppercase;
      color: #fff;
      position: relative;
      font-family: Koulen, cursive,Arial, Helvetica, sans-serif;
      font-size: 18px;
      background-color: rgba(70, 68, 68, 0.5);
      position: absolute;
      width: 100%;
      left: 0;
      padding: 10px 0 10px 20px;
      text-align: left;
    }

    &:hover img {
      opacity: 0.6;
      filter: alpha(opacity=60);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(10px,0,0);
    }

    p {
      font-family: Koulen, cursive,Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
    a, p {
      color: #FFF;
      margin-top: 70px;
      text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
      transition: opacity 0.35s, transform 0.45s;
      -webkit-transform: translate3d(-10px,0,0);
      transform: translate3d(-10px,0,0);
    }
  }

  .hovereffect:hover .overlay:before,
  .hovereffect:hover a, .hovereffect:hover p {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
