:css
  body {
    background-color: white;
  }
  .card-type h1 {
    font-weight: bold;
  }
  h2, h3, h4, h5 {
    font-family: Moul;
    font-weight: 400;
  }

  h2 {
    font-size: 25px;
  }
  .organization h2 {
    font-size: 20px;
  }

  h5 {
    font-size: 12px;
    color: black;
    text-shadow: -2px 0px 0px #ffffff;
  }

- @people.each_slice(2) do |two_people|
  .row.text-center
    - two_people.each do |person|
      - qr = RQRCode::QRCode.new(person_check_availibilities_url(person_id: person), :size => 4, :level => :l)
      .col-xs-6{ style: 'padding: 0' }
        .card{ style: 'height: 13.9cm; width: 9.6cm; position: relative; margin-bottom: 0px;' }
          - if usg_or_sg?
            = wicked_pdf_image_tag("#{current_tenant.try(:tenant_name)}_card_background.png", class: 'img-responsive', style: 'position: absolute;')
          - else
            - unless person.organization_name.include?('ខេត្ត')
              = wicked_pdf_image_tag("esg_card_background_delegate.png", class: 'img-responsive', style: 'position: absolute; right: -7px;')
            - else
              = wicked_pdf_image_tag("esg_card_background.png", class: 'img-responsive', style: 'position: absolute; right: -7px;')
          - if Department.current.tenant_name != 'sg'
            .position{ style: 'position: absolute; right: 5px; top: 95px; width: 200px;' }
              %h5
                ឆ្នាំសិក្សា
                = Game.current_active.year_of_study
          .profile-picture{ style: 'position: absolute; top: 132px; right: 23px' }
            = wicked_pdf_image_tag(person.avatar.main || 'default-profile.png', class: 'img-responsive', style: 'width: 123px; height: 147px')

          .card-type{ style: 'position: absolute; top: 204px; left: 95px; width: 100px;' }
            %h1{ style: 'font-size: 50px; color: white' }= person.card_type.try(:letter)

          .qr-code{ style: 'position: absolute; bottom: 60px; right: 10px' }
            = raw qr.as_html

          .person-name{ style: 'position: absolute; top: 295px; left: 30px;' }
            %h2= person.name

          .organization{ style: 'position: absolute; top: 330px; left: 30px;' }
            %h2= person.from_organization.present? ? person.from_organization : person.organization_name

          - if person.sport_category.present?
            .sport-category-logo{ style: 'position: absolute; bottom: 60px; left: 10px;' }
              = wicked_pdf_image_tag(person.sport_category.logo, style: 'height: 70px')
            .position{ style: 'position: absolute; bottom: 60px; left: 80px;' }
              %h2{ style: 'font-size: 20px; color: black;' }
                = person.sport_category.name
          - elsif person.card_type.present? && person.card_type.letter.in?(['A', 'B']) && !person.user.sport_representer?
            .infinity-sign{ style: 'position: absolute; top: 360px; left: 0; width: 100%' }
              %h2{ style: 'font-size: 80px;' } ∞

          - if person.card_type.try(:allow_food) || person.organization_name.in?(['សហព័ន្ធកីឡាទ្រីយ៉ាត្លុងកម្ពុជា', 'សហព័ន្ធខ្មែរកីទ្បាទោចក្រយាន', 'កីឡាវាយកូនបាល់កម្ពុជា'])
            .spoon-fork{ style: 'position: absolute; bottom: 60px; right: 82px' }
              = wicked_pdf_image_tag('spoon-fork.png', class: 'img-responsive', style: 'width: 60px; height: 65px')

          .position{ style: 'position: absolute; bottom: 3.5px; left: 0; right: 0; text-align: center;' }
            %h2{ style: 'font-size: 25px; color: white;' }= khmer_athlete_display(person)
