:css
  body.body-success {
    background-color: #5cb85c;
  }

- if @is_valid
  .row
    .col-xs-12
      .row
        %br/
        %br/
        .col-xs-4.col-xs-offset-4.col-md-2.col-md-offset-5
          = image_tag("swimming_logo.png", style: "width: 100%")
    .col-xs-12.col-md-8.col-md-offset-2.text-center
      %hr/
      %h1
        = "#{@person.name} (#{@person.sex})"
      %h1= @person.organization_name
      %br/
      .alert.alert-success
        %h1
          %span.label.label-success= khmer_athlete_display(@person)
    .col-xs-12.col-md-8.col-md-offset-2
      = image_tag(@person.avatar.large.url || 'default-profile.png', class: 'img-responsive', style: 'width: 100%')

    - if action_name == 'check_availibilities'
      .col-xs-12
        =# link_to t('.confirm'), person_confirm_path(@person), class: 'btn btn-success btn-confirm', method: :post
    .col-xs-12.col-md-8.col-md-offset-2
      %br/
      .text-center
        = link_to t('.back_home'), root_path, class: 'btn btn-lg btn-block btn-primary btn-back-home'
- else
  .row
    .col-sm-8.col-sm-offset-2.col-xs-12
      .x_panel
        .x_panel-content
          = fa_icon 'times-circle-o'
          %h1.invalid= @person.events.any? ? (@person.events.started.empty? ? t('.event_not_started') : t('.card_not_activate')) : t('.not_compete')

          = link_to t('.back_home'), root_path, class: 'btn btn-primary btn-back-home'
