<style type="text/css" media="all">
  @font-face {
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 300;
    src: url('<%= asset_data_base64('Hanuman.ttf') %>') format('truetype');
  }
  @font-face {
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: bold;
    src: url('<%= asset_data_base64('Hanumanb.ttf') %>') format('truetype');
  }
  @font-face {
    font-family: 'Moul';
    font-style: normal;
    font-weight: bold;
    src: url('<%= asset_data_base64('Moul.ttf') %>') format('truetype');
  }

  @font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: bold;
    src: url('<%= asset_data_base64('Impact.ttf') %>') format('truetype');
  }

  @font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: bold;
    src: url('<%= asset_data_base64('Times New Roman.ttf') %>') format('truetype');
  }
</style>
