- if current_user
  .col-md-3.left_col
    .left_col.scroll-view
      .navbar.nav_title{:style => "border: 0;"}
        = image_tag 'moey1.png', class: 'img-responsive align-logo'
        -# = link_to(root_path, class: 'site_title') do
        -#   %span Team Management
      .clearfix
      / menu profile quick info
      .profile.clearfix
        .profile_pic
          -# %img.img-circle.profile_img{:alt => "...", :src => "images/default-profile.png"}/
          = image_tag 'default-profile.png', class: 'img-circle profile_img'
        .profile_info
          %span Welcome,
          %h2= current_user.username
      / /menu profile quick info
      %br/
      / sidebar menu
      #sidebar-menu.main_menu_side.hidden-print.main_menu
        .menu_section.active
          %h3 Menu

          %ul.nav.side-menu{:style => ""}
            - if policy(:admin).index?
              %li{ class: active_tab('games')}
                = link_to admin_games_path() do
                  -# = fa_icon 'trophy', text: t('.games')
                  = image_tag 'swimming_logo.png', style: 'width:100%'
              %li{ class: active_tab('sport_categories') }
                = link_to admin_sport_categories_path() do
                  = fa_icon 'futbol-o', text: t('.sports')
              %li{ class: active_tab('passports') }
                = link_to admin_passports_path() do
                  = fa_icon 'book', text: t('.passports')
              %li{ class: active_tab('users') }
                = link_to users_path() do
                  = fa_icon "user", text: t('.users')
              %li{ class: active_tab('notifications') }
                = link_to admin_notifications_path() do
                  = fa_icon "envelope", text: t('.notifications')
              %li{ class: active_tab('organizations') }
                = link_to admin_organizations_path() do
                  = fa_icon "map-marker", text: t('.organizations')
              %li{ class: active_tab('people') }
                = link_to people_path() do
                  = fa_icon 'users', text: t('.people')
              %li{ class: active_tab('performers')}
                = link_to performers_path() do
                  = fa_icon 'users', text: t('.performers')
              %li{ class: active_tab('card_types') }
                = link_to admin_card_types_path() do
                  = fa_icon 'id-card', text: t('.card_type')
              %li{ class: active_tab('scannings') }
                = link_to scannings_path() do
                  = fa_icon 'qrcode', text: t('.scanning')

            - elsif current_user.representer?
              %li{ class: active_tab('sports') + active_tab('landings') + active_tab('games') + active_tab('events') }
                = link_to root_path do
                  = fa_icon 'futbol-o', text: t('.sports')
              %li{ class: active_tab('people') }
                = link_to people_path() do
                  = fa_icon 'users', text: t('.people')

            - elsif current_user.sport_representer?
              %li{ class: active_tab('events') }
                = link_to sport_representer_events_path do
                  = fa_icon 'futbol-o', text: t('.sports')
              %li{ class: active_tab('people') }
                = link_to sport_representer_people_path do
                  = fa_icon 'users', text: t('.people')
              %li{ class: active_tab('organizations') }
                = link_to sport_representer_organizations_path do
                  = fa_icon 'map-marker', text: t('.organizations')

            - elsif current_user.performer_manager?
              %li{ class: active_tab('performers')}
                = link_to performers_path() do
                  = fa_icon 'users', text: t('.performers')

            - elsif current_user.food_scanner? || current_user.accommodation_scanner?
              %li{ class: active_tab('scannings') }
                = link_to scannings_path() do
                  = fa_icon 'qrcode', text: t('.scanning')

            - elsif current_user.activator?
              %li{ class: active_tab('activators') }
                = link_to card_activations_path() do
                  = fa_icon 'qrcode', text: t('.scanning')
