%link{:href => "https://fonts.googleapis.com/css?family=Moul", :rel => "stylesheet"}/
- if user_signed_in?
  .top_nav
    .nav_menu
      %nav
        %ul.nav.navbar-nav.navbar-right.text-center
          %li{ style: 'text-align: center; float: none; line-height: 32px; padding: 13px 15px 12px;'}
            %h4{ style: "font-size: 22px; font-family: 'Moul', cursive; color: red" } អគ្គនាយកដ្ឋានកីឡា - ប្រព័ន្ធចុះឈ្មោះការប្រកួត
          %li
            %a.user-profile.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
              = current_user.email
              %span.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-usermenu.pull-right
              %li
                = link_to t('.profile'), user_path(current_user)
              %li
                = link_to destroy_user_session_path(), method: :delete do
                  %i.fa.fa-sign-out.pull-right
                  = t('.logout')
