!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title អគ្គនាយកដ្ឋានកីឡា - ប្រព័ន្ធចុះឈ្មោះសំរាប់ការប្រកួត
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body.nav-sm{id: "#{controller_name}-#{action_name}"}
    .body.container
      .main_container
        = render 'layouts/left_col'
        = render 'layouts/top_nav'
        .right_col{:role => "main", :style => "min-height: 1780px;"}
          = yield
