!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title អគ្គនាយកដ្ឋានកីឡា - ប្រព័ន្ធចុះឈ្មោះសំរាប់ការប្រកួត
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .container
      = yield
