!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{charset: "utf-8"}
    %title អគ្គនាយកដ្ឋានកីឡា - ប្រព័ន្ធចុះឈ្មោះសំរាប់ការប្រកួត
    = render 'layouts/font.html.erb'
    = wicked_pdf_stylesheet_link_tag 'application', media: 'all'
    %link{:href => "https://fonts.googleapis.com/css?family=Khmer", :rel => "stylesheet"}

    -# .nobreak:before { clear:both; }
    -# .nobreak { page-break-inside: avoid; }
    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }


  %body{onload: "number_pages()", style: 'background-color: white; color: black;'}
    .container-fluid
      = yield
