!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %title អគ្គនាយកដ្ឋានកីឡា - ប្រព័ន្ធចុះឈ្មោះសំរាប់ការប្រកួត
    = csrf_meta_tags

    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=", :rel => "stylesheet"}/
    = render 'layouts/font.html.erb'
    %link{:href => "https://fonts.googleapis.com/css?family=Moul", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Khmer", :rel => "stylesheet"}/
    = wicked_pdf_stylesheet_link_tag 'public', media: 'all'

    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }

  %body{onload: "number_pages()", class: 'body-success'}
    .container-fluid
      = yield
